{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v4/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Confirm your bank account details</h1>


        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
              ABC LTD
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              040004
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> sort code</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              72952415
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> account number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number
            </dt>
            <dd class="govuk-summary-list__value">
              15343356
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Building society roll number</span>
              </a>
            </dd>
          </div>
        </dl>

       <form method="post">

       {{ govukButton({
         text: "Confirm"
       }) }}

       </form>

    </div>
  </div>
{% endblock %}