{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "mvs/includes/account-header.html" %}
  <link rel="stylesheet" type="text/css" href="https://das-pp-frnt-end.azureedge.net/css/main.css">

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your hire a new apprentice payment applications</h1>
      <div class="govuk-inset-text">
      <h2 class="govuk-heading-m">We're reviewing your organisation’s bank details</h2>
      <p style="width: 66%;">We may contact someone from your organisation to verify the information you’ve provided.</p>
      </div>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When you'll get paid
          </span>
        </summary>
        <div class="govuk-details__text">
      <p class="govuk-body">You’re eligible for the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days.</p>
      <p class="govuk-body">Before we can make a payment, we need your training provider to confirm whether the apprentice is still on their apprenticeship. Training providers usually submit information about their apprentices at the start of every month.</p>
      <p class="govuk-body">We'll start making payments from January 2021. It will take longer to get your first payment for any apprentices who start their training in August 2020.</p>
        </div>
      </details>

      <h2 class="govuk-heading-m">Your applications</h2>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th aria-sort="none" scope="col" class="govuk-table__header">Apprentice name</th>
            <th aria-sort="ascending" scope="col" class="govuk-table__header">Application date</th>
            <th aria-sort="none" scope="col" class="govuk-table__header">Estimated payment</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Steven Smith</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jack Roberts</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£1,500</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Michael Johnson</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
        </tbody>
      </table>
    <nav role="navigation" aria-label="Pagination">
                <div class="das-pagination__summary">
                    Showing 1 to 100 of 6984
                    applications
                </div>
            <ul class="das-pagination">
                    <li class="das-pagination__item">
                        <a class="das-pagination__link current" aria-current="aria-current" aria-label="Page 1" href="#">
                            1
                        </a>
                    </li>
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Page 2" href="#">
                            2
                        </a>
                    </li>
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Page 3" href="#">
                            3
                        </a>
                    </li>
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Page 4" href="#">
                            4
                        </a>
                    </li>
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Page 5" href="#">
                            5
                        </a>
                    </li>
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Next page" href="#">
                            Next
                        </a>
                    </li>
            </ul>
        </nav>

    </div>
  </div>
{% endblock %}

{% block pageScripts %}

	<script>
		new MOJFrontend.SortableTable({
			table: [
				$('table')[0]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[1]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[2]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[3]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[4]
			]
		});

	</script>

{% endblock %}