{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v11/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">View your hire a new apprentice applications</h1>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            When you'll get paid
          </span>
        </summary>
        <div class="govuk-details__text">
        <p>You’ll receive the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days. Your training provider will confirm the apprenticeship start date and we’ll add 90 days to the last calendar day of the month.</p>
        <p>We make payments on the 10th working day of each month, starting from January 2021. It will take longer to get your first payment for any apprentices who start their training in August or September.</p>
        <p>For example, if your training provider confirms an apprentice started their apprenticeship training on:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>1 September 2020 - we’ll make the first payment on 14 January 2021</li>
        <li>4 January 2021 - we’ll make the first payment on 14 April 2021</li>
        </ul>

        </div>
      </details>


      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th aria-sort="none" scope="col" class="govuk-table__header">Apprentice name</th>
            <th aria-sort="ascending" scope="col" class="govuk-table__header">Application date</th>
            <th aria-sort="none" scope="col" class="govuk-table__header">Amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Steven Smith</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jack Roberts</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£1,500</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Michael Johnson</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

	<script>
		new MOJFrontend.SortableTable({
			table: [
				$('table')[0]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[1]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[2]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[3]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[4]
			]
		});

	</script>

{% endblock %}