{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v5/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "You've added your organisation's bank account details"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>

      <p>You’ll receive the first payment after the apprentice completes 90 days of their apprenticeship. You’ll get the second payment after 365 days. We make payments on the 10th of each month.</p>
      <p>We’ll pay your grant using the bank details you just added. You do not need to do anything else.</p>

      <a class="govuk-button" href="account-home">Return to account home</a>

    </div>
  </div>
{% endblock %}
