{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v5/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Check your answers before submitting your application</h1>
      <h2 class="govuk-heading-m">Apprentice details</h2>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name of apprentice</th>
            <th scope="col" class="govuk-table__header">Course name</th>
            <th scope="col" class="govuk-table__header">Grant amount</th>
            <th scope="col" class="govuk-table__header"></th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if data['apprentice1'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Michael Johnson</th>
            <td scope="row" class="govuk-table__cell">Water Treatment Technician, Level: 3 (Standard)</td>
            <td class="govuk-table__cell">£3,000</td>
            <td class="govuk-table__cell"><a href="select-new-apprentices">Change</a></td>
          </tr>
        {% endif %}
        {% if data['apprentice2'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Jack Roberts</th>
            <td scope="row" class="govuk-table__cell">Relationship Manager (Banking), Level: 6 (Standard)</td>
            <td class="govuk-table__cell">£1,000</td>
            <td class="govuk-table__cell"><a href="select-new-apprentices">Change</a></td>
          </tr>
        {% endif %}
        {% if data['apprentice3'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Steven Smith</th>
            <td scope="row" class="govuk-table__cell">Non-destructive testing (NDT) operator, Level: 2 (Standard)</td>
            <td class="govuk-table__cell">£3,000</td>
            <td class="govuk-table__cell"><a href="select-new-apprentices">Change</a></td>
          </tr>
        {% endif %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total amount</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">£{{ data['totalPay'] }}</td>
          </tr>
        </tbody>
      </table>

      <h2 class="govuk-heading-m">Bank or building society account details</h2>

        {% if data['bank-skipped'] === true %}
        <div class="govuk-inset-text">
        You must add your organisation’s bank details after you submit your application.
        </div>
        {% else %}
        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Name on the account
            </dt>
            <dd class="govuk-summary-list__value">
              ABC LTD
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Sort code
            </dt>
            <dd class="govuk-summary-list__value">
              040004
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> sort code</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Account number
            </dt>
            <dd class="govuk-summary-list__value">
              72952415
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> account number</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Building society roll number
            </dt>
            <dd class="govuk-summary-list__value">
              15343356
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden">Building society roll number</span>
              </a>
            </dd>
          </div>
        </dl>
      {% endif %}

      <h2 class="govuk-heading-m">Now submit your application</h2>

      <p class="govuk-body">By submitting this application you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="" method="post">

        {{ govukButton({
          text: "Accept and submit"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}