<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <title>Home - Manage apprentices</title>
    <!--[if gt IE 8]><!-->
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/govuk-template.css" media="screen" rel="stylesheet" /><!--<![endif]-->
    <!--[if IE 6]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/govuk-template-ie6.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/govuk-template-ie7.css" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/govuk-template-ie8.css" media="screen" rel="stylesheet" /><![endif]-->
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/govuk-template-print.css" media="print" rel="stylesheet" />
    <!--[if IE 8]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/fonts-ie8.css" media="all" rel="stylesheet" /><![endif]-->
    <!--[if gte IE 9]><!-->
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/fonts.css" media="all" rel="stylesheet" /><!--<![endif]-->
    <!--[if lt IE 9]><script src="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/javascripts/ie.js"></script><![endif]-->
    <link rel="shortcut icon" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/favicon.ico" type="image/x-icon" />
    <link rel="mask-icon" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/gov.uk_logotype_crown.svg" color="#0b0c0c">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon-precomposed" href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/images/apple-touch-icon-60x60.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:image" content="/dist/images/opengraph-image.png">
    <meta name="msapplication-config" content="none" />
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/css/select2.min.css" media="all" rel="stylesheet" />

    <!--[if IE 6]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/screenie6?v=3yRNIf0xQmB65bLpDeYSWU_wsXXzN6xp_0x_VpORna81" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 7]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/screenie7?v=9egFTeZc8NzLG0PSnsrGIJxgLH-N31B5wgUiiPA46fU1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if IE 8]><link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/screenie8?v=0TmsLmbJHcSoXFCWTyUGOeZGSOHQztP8wb_s2AXUFlI1" media="screen" rel="stylesheet" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/screen?v=PrJDgwMjeYj_6FGrqGb_oKqRAlrtULR-T0oXC2oEIpI1" media="all" rel="stylesheet" />
    <!--<![endif]-->
    <link href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/site?v=TGsHTWqP2HAtr6kGPu-Qilbv3aGbtp9ru6SZmFdFsEc1" media="all" rel="stylesheet" />



<!--[if lt IE 9]><script src="https://accounts.pp-eas.apprenticeships.education.gov.uk/dist/javascripts/respond.min.js"></script><![endif]-->



</head>
<body id="page-company-homepage">

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    <div id="skiplink-container">
        <div>
            <a href="#content" class="skiplink">Skip to main content</a>
        </div>
    </div>
</div>
    <div id="svg-defs" aria-hidden="true">
        <?xml version="1.0" encoding="utf-8"?>
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <symbol viewBox="-224 -224 2240 2240" id="icon-favourite" xmlns="http://www.w3.org/2000/svg"><path d="M1784,684.4c-19-57-69.7-96-128.2-99.3l-437.1-31.4c-9.1-0.7-17.2-6.2-20.4-15l-166.5-405.3c-23-55.9-74.9-90.6-135.5-90.6
	c-60.6,0-112.1,34.7-135.5,90.9L593.9,539.4c-3.7,8.4-11.3,14.2-20.4,15l-436.4,31.4c-59.2,3.3-109.6,42-128.9,99
	c-19.7,57.7-3.3,118.3,43.5,158.1l337.8,279c6.9,5.8,10.2,15.3,8,24.1l-103,421.4c-12.1,43.8-3.7,89.1,23,124.5
	c27.4,35.8,70.1,57.3,115,57.3c27.8,0,54.8-8.4,77.1-23.4l369.2-229.7c7.7-4.7,17.5-4.7,25.2,0l372.8,229
	c23.4,15.7,50.4,24.1,77.8,24.1c42,0,83.6-20.1,110.6-54c28.1-35.1,38.3-80.7,28.1-126.3L1390,1146.3c-2.2-9.1,1.1-18.6,8-24.5
	l342.9-279.7C1786.9,802.7,1803.4,742.1,1784,684.4z M1684,773.1l-342.2,279.4c-33.6,27.4-48.9,72.7-38.3,115l103.3,421.8
	c5.5,24.8-4.4,42-11,50c-10.2,12.8-25.6,20.8-40.9,20.8c-9.5,0-19-2.9-29.2-9.9l-374.3-230.1c-17.9-11-38.3-16.8-59.5-16.8
	c-21.2,0-42,5.8-59.9,17.2L461.4,1651c-23.7,15.7-55.5,8.8-72.3-13.1c-6.9-9.1-14.2-24.8-7.7-47.8l103.3-422.9
	c10.2-42-4.7-86.9-38-114.3L109.7,774.2c-26.7-23-19.4-52.6-16.4-61c2.9-8.4,15-36.5,50-38.3l437.1-31.4
	c43.1-3.3,80.3-29.9,96.8-70.1l166.9-405.7c13.5-32.9,43.8-35.4,52.6-35.4c8.8,0,39.1,2.6,52.6,35.4l166.9,405.7
	c16.4,40.2,53.7,66.8,96.8,70.1l437.8,31.8c34.3,1.8,46.4,29.9,49.3,38.3C1702.2,721.3,1709.5,750.8,1684,773.1z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-arrows" xmlns="http://www.w3.org/2000/svg"><path d="M1792 896q0 26-19 45l-256 256q-19 19-45 19t-45-19-19-45v-128h-384v384h128q26 0 45 19t19 45-19 45l-256 256q-19 19-45 19t-45-19l-256-256q-19-19-19-45t19-45 45-19h128v-384H384v128q0 26-19 45t-45 19-45-19L19 941Q0 922 0 896t19-45l256-256q19-19 45-19t45 19 19 45v128h384V384H640q-26 0-45-19t-19-45 19-45L851 19q19-19 45-19t45 19l256 256q19 19 19 45t-19 45-45 19h-128v384h384V640q0-26 19-45t45-19 45 19l256 256q19 19 19 45z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-chevron-left" xmlns="http://www.w3.org/2000/svg"><path d="M1427 301L896 832l531 531q19 19 19 45t-19 45l-166 166q-19 19-45 19t-45-19L429 877q-19-19-19-45t19-45l742-742q19-19 45-19t45 19l166 166q19 19 19 45t-19 45z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-chevron-right" xmlns="http://www.w3.org/2000/svg"><path d="M1363 877l-742 742q-19 19-45 19t-45-19l-166-166q-19-19-19-45t19-45l531-531-531-531q-19-19-19-45t19-45L531 45q19-19 45-19t45 19l742 742q19 19 19 45t-19 45z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-cross" xmlns="http://www.w3.org/2000/svg"><path d="M1490 1322q0 40-28 68l-136 136q-28 28-68 28t-68-28l-294-294-294 294q-28 28-68 28t-68-28l-136-136q-28-28-28-68t28-68l294-294-294-294q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 294 294-294q28-28 68-28t68 28l136 136q28 28 28 68t-28 68l-294 294 294 294q28 28 28 68z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-important" xmlns="http://www.w3.org/2000/svg"><title>important</title><path d="M896-1.94C400.08-1.94-1.94 400.08-1.94 896s402 897.94 897.94 897.94 897.94-402 897.94-897.94S1391.92-1.94 896-1.94zm105 365.6l-27.05 636.06h-155.9L791 363.66zm-105 1029.1a135 135 0 1 1 135-135 135 135 0 0 1-135 135z" /></symbol>
        <symbol viewBox="-224 -224 2240 2240" id="icon-tick" xmlns="http://www.w3.org/2000/svg"><path d="M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z" /></symbol>
</svg>
    </div>


    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="header-global">
                <div class="header-logo">
                    <a href = "https://www.gov.uk/" class="content"  title="Go to the GOV.UK homepage" id="logo"><img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" alt="" width="36" height="32">GOV.UK</a>
                </div>
            </div>
            <div class="header-proposition">
                <div class="content">
                    <a href = "javascript:preventDefault();" id="proposition-name" class="">Manage apprenticeships</a>
                </div>
            </div>
        </div>
    </header>
    <div id="floating-menu-holder">
        <div class="account-information floating-menu" role="navigation">
            <div class="js-float">
                <p class="floating-head-text">Your employer account </p>
                <nav id="user-nav">
                    <ul>
                        <li class="" role="menuitem"><a href="javascript:preventDefault();" target="_blank" class="">Help</a></li>
                            <li class="has-sub-menu">
                                <a href="https://accounts.pp-eas.apprenticeships.education.gov.uk/" role="menuitem">Settings</a>
                                <ul role="menu" class="js-hidden" id="settings-menu">

                                    <li class="" role="menuitem"><a href = "javascript:preventDefault();" class="sub-menu-item">Change your password</a></li>
                                    <li class="" role="menuitem"><a href = "javascript:preventDefault();" class="sub-menu-item">Change your email address</a></li>


                                </ul>
                            </li>
<li class="" role="menuitem"><a href = "javascript:preventDefault();" role="menuitem" class="" esfa-automation="sign-out">Sign out</a></li>                    </ul>
                </nav>
            </div>
        </div>
    </div>


<main role="main" id="content">
<div class="info-summary"><h2 class="heading-medium">Coronavirus (COVID-19): to find out how we can support you,
	including changes we’re making to help your apprentices continue learning,
	<a href="https://www.gov.uk/government/publications/coronavirus-covid-19-apprenticeship-programme-response?es_c=7B651DDC6B6986102E8BBB7918A20DDF&amp;es_cl=53BFD9FD1669BCDAEBD12D5CDF1D9AB8&amp;es_id=9d%c2%a3o3C" target="_blank" class="govuk-link">read our updated guidance</a>.</h2></div>
	<h1 class="heading-secondary dashboard-heading">
    Account ID: AJGRAK
</h1>
<p class="heading-xlarge dashboard-heading-company">ABC LTD</p>

<a href="javascript:preventDefault();" class="das-favourites-link govuk-body">
    <span class="das-favourites-link__icon">
        <svg class="icon" focusable="false" aria-hidden="true">
            <use xlink:href="#icon-favourite" />
        </svg>
    </span>
    <span class="das-favourites-link__text">View saved favourites</span>
</a>

<hr class="dashboard-heading-separator" />

    <div class="grid-row">
        <div class="column-two-thirds">

        {% if data['bank-incomplete'] === true %}
                <div class="das-panel das-panel--interruption">
                        <h3 class="das-panel__heading">Add your organisation’s bank details</h3>
                <p>We need your organisation’s bank details, so that we can make the hire a new apprentice payment.</p>
                <p><a href="bc/start" class="das-panel__link">Add bank details</a></p>
                    </div>
         {% endif %}

            <section class="dashboard-section">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2 class="section-heading heading-large">Apprenticeships</h2>
                        <p class="section-description">Manage your apprentices, recruit apprentice and set training provider permissions</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();">Apprentices</a></h3>
                        <p>Add apprentices, update details of existing apprentices and authorise payments to training providers.</p>
                    </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="javascript:preventDefault();">Recruitment</a></h3>
                            <p>Recruit an apprentice by creating a vacancy. This vacancy will be advertised on Find an apprenticeship.</p>
                        </div>
                        <div class="card">
                            <h3 class="heading-medium"><a href="javascript:preventDefault();">Your training providers</a></h3>
                            <p>Add training providers and manage permissions to choose what they can do on your behalf.</p>
                        </div>
                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();" rel="external" target="_blank">Find apprenticeship training</a></h3>
                        <p>Search for apprenticeships and see details of approved providers who can deliver the training.</p>
                    </div>
                </div>
            </section>

            <section class="dashboard-section">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2 class="section-heading heading-large">Finances</h2>
                        <p class="section-description">Manage your apprenticeship funds</p>
                    </div>
                </div>
                <div class="cards">
                        <div class="card">
                            <h3 class="heading-medium"><a href="javascript:preventDefault();">Your funding reservations</a></h3>
                            <p>Reserve and manage funding.</p>
                        </div>

                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();">Your finances</a></h3>
                        <p>View your financial transactions, connect with other employers and receive transfer funds.</p>
                    </div>
                    <div class="card">
                        <h3 class="heading-medium"><a href="guidance">Apply for the hire a new apprentice payment</a></h3>
                        <p>You can apply for the payment if you hire new apprentices from 1 August 2020 to 31 January 2021.</p>
                    </div>

                </div>
            </section>

            <section class="dashboard-section">
                <div class="grid-row">
                    <div class="column-two-thirds">
                        <h2 class="section-heading heading-large">Account</h2>
                        <p class="section-description">Manage your account details and team</p>
                    </div>
                </div>
                <div class="cards">
                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();">Your organisations and agreements</a></h3>
                        <p>Add your organisations that will make contracts with training providers.</p>
                    </div>
                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();">Your team</a></h3>
                        <p>Control what your team can do and invite new team members.</p>
                    </div>
                    <div class="card">
                        <h3 class="heading-medium"><a href="javascript:preventDefault();">PAYE schemes</a></h3>
                        <p>Add or remove PAYE schemes.</p>
                    </div>
                </div>
            </section>

        </div>
        <div class="column-one-third">
            <section class="das-panel das-panel--popular" style="display: none">
                <h2>Popular on Apprenticeships</h2>
                <ul class="list">
                    <li><a href="javascript:preventDefault();" class="das-panel__link">Manage your apprentices</a> </li>
                    <li><a href="javascript:preventDefault();" class="das-panel__link">Finance</a> </li>
                    <li><a href="javascript:preventDefault();" class="das-panel__link">Your cohorts</a> </li>
                    <li><a href="javascript:preventDefault();" class="das-panel__link">Add an apprentice</a> </li>
                    <li><a href="javascript:preventDefault();" class="das-panel__link">Transfers</a> </li>
                </ul>
            </section>
                <section>
                    <nav>
                        <ul class="js-tabs" role="tablist">
                            <li role="tab" id="tab-tasks" aria-controls="pane-tasks"><a href="#pane-tasks">Tasks</a></li>
                        </ul>
                    </nav>
                    <div class="panes">
                        <div class="js-tab-pane" id="pane-tasks" role="tabpanel">
                                <ul class="task-list">


                                        <li>
                                                    <p>No tasks to do</p>
                                        </li>
                                </ul>
                        </div>
                    </div>
                </section>
        </div>
    </div>


</main>



    <footer class="group js-footer" id="footer" role="contentinfo">
        <div class="footer-wrapper">
            <div class="footer-meta">
                <div class="footer-meta-inner">
                    <ul class="platform-help-links">
                        <li class="" role="menuitem"><a href="javascript:preventDefault();" target="_blank" class="">Help</a></li>
                        <li class="" role="menuitem"><a href = "javascript:preventDefault();" target="_blank" class="">Feedback</a></li>
                        <li class="" role="menuitem"><a href="javascript:preventDefault();" class="">Privacy</a></li>
                        <li class="" role="menuitem"><a href="javascript:preventDefault();" class="">Cookies</a></li>
                        <li>Built by the <a href = "http://gov.uk/esfa" target="_blank" class="">Education and Skills Funding Agency</a></li>
                    </ul>
                    <div class="open-government-licence">
                        <p class="logo">
                            <a href = "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="">Open Government Licence</a>
                        </p>
                        <p>
                            All content is available under the <a href = "https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license" class="">Open Government Licence v3.0</a>, except where otherwise stated
                        </p>
                    </div>
                </div>
                <div class="copyright">
                    <a href = "https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/" class="">© Crown copyright</a>
                </div>
            </div>
        </div>
    </footer>


    <div id="global-app-error" class="app-error hidden"></div>
    <script src="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/sfajs?v=BJYO98fEF9YFgvlKiHQGgvaN0m13wH_qvehX4Pp7Wwg1"></script>


</body>
</html>
