{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v11/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Confirm your apprentices</h1>
      <div class="govuk-inset-text">Your payment amount may change if an apprentice has their 25th birthday before they start their apprenticeship.</div>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name of apprentice</th>
            <th scope="col" class="govuk-table__header">Course name</th>
            <th scope="col" class="govuk-table__header">Payment amount</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if data['apprentice1'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Michael Johnson</th>
            <td scope="row" class="govuk-table__cell">Water Treatment Technician, Level: 3 (Standard)</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
        {% endif %}
        {% if data['apprentice2'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Jack Roberts</th>
            <td scope="row" class="govuk-table__cell">Relationship Manager (Banking), Level: 6 (Standard)</td>
            <td class="govuk-table__cell">£1,500</td>
          </tr>
        {% endif %}
        {% if data['apprentice3'] %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Steven Smith</th>
            <td scope="row" class="govuk-table__cell">Non-destructive testing (NDT) operator, Level: 2 (Standard)</td>
            <td class="govuk-table__cell">£2,000</td>
          </tr>
        {% endif %}
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total amount</th>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">£{{ data['totalPay'] }}</td>
          </tr>
        </tbody>
      </table>
      <form action="" method="post">

          <form action="" method="post" class="form">

          {{ govukWarningText({
            text: "All apprentices must have started their contract of employment between 1 August 2020 and 31 January 2021.",
            iconFallbackText: "Warning"
          }) }}

        {{ govukButton({
          text: "Confirm"
        }) }}
      <p><a href="select-new-apprentices">Change the apprentices you want to apply for</a></p>



      </form>

    </div>
  </div>
{% endblock %}
