{% extends "layout-account.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/header-bar.html" %}
{% include "v13/includes/account-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">
        Confirm these are the apprentices you want to apply for
      </h1>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Apprentice name</th>
          <th scope="col" class="govuk-table__header">Unique learner number (ULN)</th>
          <th scope="col" class="govuk-table__header">Start date</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Adham Tyalo</th>
          <td class="govuk-table__cell">61-021-8094</td>
          <td class="govuk-table__cell"> September 2020</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="select-apprentice-to-apply-for">Remove</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Abel Fogden</th>
          <td class="govuk-table__cell">21-098-8908</td>
          <td class="govuk-table__cell"> September 2020</td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="select-apprentice-to-apply-for">Remove</a>
          </td>
        </tr>

        </tr>
      </tbody>
    </table>


    <a href="confirmation" class="govuk-button govuk-!-margin-right-1" data-module="govuk-button">
      Continue
    </a>
    <a href="select-apprentice-to-apply-for" class="govuk-button govuk-button--secondary" data-module="govuk-button">Add
      more apprentices</a>

    </fieldset>
  </div>
</div>

</div>
{% endblock %}

{% block pageScripts %}

{% endblock %}