{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "../hub/home"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Applications open on 3 January 2022</h1>

      <p class="govuk-body">For apprentices with an employment start date from 1 October 2021 to 31 January 2022, applications open on 3 January 2022 and close on 31 March 2022.</p>

      <p class="govuk-body">They must also have an apprenticeship start date from 1 October 2021 to 31 March 2022.</p>

    </div>
  </div>
{% endblock %}