{% extends "layout-notify-email.html" %} {% set serviceName %} Email {% endset
%} {% block content %}
<style>
  .govuk-width-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .govuk-template__body {
    background: transparent;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="email-message">
      <table class="email-message-meta">
        <tbody>
          <tr>
            <th scope="row">From</th>
            <td>Apprenticeship Service (apprenticeship-service.gov.uk)</td>
          </tr>

          <tr>
            <th scope="row">To</th>
            <td>
              <span class="placeholder-no-brackets">name@example.com</span>
            </td>
          </tr>

          <tr class="email-message-meta">
            <th scope="row">Subject</th>
            <td>We’re extending the eligibility period for the hire a new apprentice payment</td>
          </tr>
        </tbody>
      </table>
      <div class="email-message-body">
        <p>Dear <span class="placeholder-no-brackets">EMPLOYER LTD</span>,</p>
        <p>We’re extending the eligibility period for the hire a new apprentice payment.</p>


        <p style="font-weight: bold;">Who you can apply for</p>

        <p>You can apply if you take on new apprentices between 1 August 2020 to 31 March 2021. </p>

        <p style="font-weight: bold;">When to apply</p>

        <p>If you take on new apprentices between 1 February 2021 and 31 March 2021, you can apply from 1 February 2021 to 30 April 2021.</p>





        <p>Apply for the hire a new apprentice payment in your apprenticeship service account (<a href="https://accounts.manage-apprenticeships.service.gov.uk" class="govuk-link govuk-link--no-visited-state">https://accounts.manage-apprenticeships.service.gov.uk</a>).</p>
        <p>From</p>
        <p>Apprenticeship Service</p>
        <p>This is an automated message - do not reply.</p>
      </div>
    </div>

  </div>
</div>
{% endblock %}
