{% extends "layout-notify-email.html" %} {% set serviceName %} Email {% endset
  %} {% block content %}
  <style>
    .govuk-width-container {
      max-width: 640px;
      margin-left: auto;
      margin-right: auto;
    }
  
    .govuk-template__body {
      background: transparent;
    }
  </style>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class="email-message">
        <table class="email-message-meta">
          <tbody>
            <tr>
              <th scope="row">From</th>
              <td>Apprenticeship Service (apprenticeship-service.gov.uk)</td>
            </tr>
  
            <tr>
              <th scope="row">To</th>
              <td>
                <span class="placeholder-no-brackets">name@example.com</span>
              </td>
            </tr>
  
            <tr class="email-message-meta">
              <th scope="row">Subject</th>
              <td>View your hire a new apprentice payment applications</td>
            </tr>
          </tbody>
        </table>
        <div class="email-message-body">
          <p>Dear <span class="placeholder-no-brackets">EMPLOYER LTD</span>,</p>
          <p>We’ve added a new area to the apprenticeship service account.</p>
          <p>The new area brings together all your hire a new apprentice payment information in one place. From your account, you can apply, view applications and check the status of each payment.</p>
          <p>Sign in and select ‘Your hire a new apprentice payments’ from the homepage of your account: https://accounts.manage-apprenticeships.service.gov.uk/service/index.</p>
          <p>From</p>
          <p>Apprenticeship Service</p>
          <p>This is an automated message - do not reply.</p>
        </div>
      </div>
  
      <p class="govuk-body">
        <a href="#" class="govuk-link">Return to application</a>
      </p>
    </div>
  </div>
  {% endblock %}
  