{% extends "layout-account.html" %}

{% set serviceName %}
Manage apprenticeships
{% endset %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{% include "includes/header-bar.html" %}
{% include "v15/includes/account-header.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-form-group">
      <h1 class="govuk-heading-l">
        Select the apprentices you want to apply for
      </h1>
      <p class="govuk-body">
        Choose from the apprentices in your apprenticeship service account with a planned start date from 1 August 2020.
      </p>
      <p class="govuk-body">
        You cannot view any apprentices that you've already applied for.
      </p>
      <p class="govuk-body">
        You must only select apprentices who started their contract of employment with your organisation from 1 August
        2020 to 31 January 2021.
      </p>
    </div>

    <h3 class="govuk-heading-m">Search</h3>
    <p class="govuk-body"></p>
    <div class="govuk-form-group govuk-!-margin-bottom-8">
      <label for="das-table-filter-search" class="govuk-label">Refine list by name, unique learner number, course or
        start
        date</label>
      <input type="text" class="govuk-input govuk-input--width-20" id="das-table-filter-search"
        data-module="das-table-filter-search">
      <!-- <p class="govuk-visually-hidden"><a href="filter-by-start-date">Search</a></p> -->
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-accordion govuk-!-margin-bottom-9" data-module="govuk-accordion"
      id="selected-apprentices-accordion">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="selected-apprentices-accordion-heading">
              Selected apprentices
            </span>
          </h2>
          <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-1">
            Open to show a list of currently selected apprentices
          </div>
        </div>
        <div id="selected-apprentices-accordion-content" class="govuk-accordion__section-content"
          aria-labelledby="selected-apprentices-accordion-heading">

          <p class='govuk-body no-apprentices-selected-message'>No apprentices selected.</p>

          <table class="govuk-table das-table--no-borders das-selected-apprentices-table"
            data-module="das-selected-apprentices-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Apprentice name</th>
                <th scope="col" class="govuk-table__header">Unique learner number (ULN)
                </th>
                <th scope="col" class="govuk-table__header">Apprenticeship training
                  course</th>
                <th scope="col" class="govuk-table__header">Start date</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body"></tbody>
          </table>

        </div>
      </div>
    </div>

    <table class="govuk-table" data-module="das-filterable-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th aria-sort="none" scope="col" class="govuk-table__header">Select</th>
          <th aria-sort="ascending" scope="col" class="govuk-table__header">Apprentice name</th>
          <th aria-sort="none" scope="col" class="govuk-table__header">Unique learner number (ULN)
          </th>
          <th aria-sort="none" scope="col" class="govuk-table__header">Apprenticeship training
            course</th>
          <th aria-sort="none" scope="col" class="govuk-table__header">Start date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-1" name="apprentices" type="checkbox"
                  value="Adham Tyalo, 61-021-8094, Water Treatment Technician, September 2020">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-1"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Adham Tyalo</td>
          <td class="govuk-table__cell">61-021-8094</td>
          <td class="govuk-table__cell">Water Treatment Technician</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-2" name="apprentices" type="checkbox"
                  value="apprentice-2">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-2"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Abel Fogden</td>
          <td class="govuk-table__cell">21-098-8908</td>
          <td class="govuk-table__cell">Electronics</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-3" name="apprentices" type="checkbox"
                  value="apprentice-3">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-3"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Harlin Bahlmann</td>
          <td class="govuk-table__cell">47-169-3682</td>
          <td class="govuk-table__cell">Toys</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-4" name="apprentices" type="checkbox"
                  value="apprentice-4">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-4"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Valry Brandenberg</td>
          <td class="govuk-table__cell">96-511-9940</td>
          <td class="govuk-table__cell">Water Treatment Technician</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-5" name="apprentices" type="checkbox"
                  value="apprentice-5">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-5"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Gabi Ubanks</td>
          <td class="govuk-table__cell">09-934-5434</td>
          <td class="govuk-table__cell">Electronics</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-6" name="apprentices" type="checkbox"
                  value="apprentice-6">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-6"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Gabriel Wennington</td>
          <td class="govuk-table__cell">35-283-3384</td>
          <td class="govuk-table__cell">Toys</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-7" name="apprentices" type="checkbox"
                  value="apprentice-7">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-7"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Shayne Snoday</td>
          <td class="govuk-table__cell">14-127-0956</td>
          <td class="govuk-table__cell">Water Treatment Technician</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-8" name="apprentices" type="checkbox"
                  value="apprentice-8">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-8"></label>
              </div>
            </div>
          </td>
          <td class="govuk-table__cell">Randell O'Carroll</td>
          <td class="govuk-table__cell">68-604-2601</td>
          <td class="govuk-table__cell">Electronics</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <div class="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="apprentice-9" name="apprentices" type="checkbox"
                  value="apprentice-9">
                <label class="govuk-label govuk-checkboxes__label" for="apprentice-9"></label>
              </div>
            </div>
          </td>

          <td class="govuk-table__cell">Elsy Jenteau</td>
          <td class="govuk-table__cell">39-632-2315</td>
          <td class="govuk-table__cell">Toys</td>
          <td class="govuk-table__cell">September 2020</td>
        </tr>
      </tbody>
    </table>

    <nav class="govuk-!-margin-bottom-6" role="navigation" aria-label="Pagination">
      <div class="das-pagination__summary">
        Showing 101 - 150 of 246 results
      </div>
      <ul class="das-pagination">
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Previous page">Previous</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link current" href="#0" aria-current="true" aria-label="Page 1, current page">1</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Page 2">2</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Page 3">3</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Page 4">4</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Page 5">5</a>
        </li>
        <li class="das-pagination__item">
          <a class="das-pagination__link" href="#0" aria-label="Next page">Next</a>
        </li>
      </ul>
    </nav>

    <!-- <p class="govuk-body">
      <a href="#">Return to full list</a>
    </p> -->

    <a href="confirm-selected-apprentice" class="govuk-button" data-module="govuk-button">
      Continue
    </a>

  </div>
</div>

</div>
{% endblock %}

{% block pageScripts %}

<script>
  new MOJFrontend.SortableTable({
    table: [
      $('table')[1]
    ]
  });

  function handleCheckboxClick(event) {
    const apprenticeTable = document.querySelector("[data-module='das-selected-apprentices-table'");
    const noApprenticesMessage = document.querySelector(".no-apprentices-selected-message");
    apprenticeTable.style.display = 'block'
    const apprenticeTableBody = apprenticeTable.querySelector("tbody");

    const isChecked = event.target.checked;
    const rowId = event.target.id;
    const checkboxRow = event.target.closest("tr");
    const apprenticeName = checkboxRow.children.item(1).textContent;

    const checkboxRowDuplicate = checkboxRow.cloneNode(true);
    checkboxRowDuplicate.removeChild(checkboxRowDuplicate.firstElementChild);
    checkboxRowDuplicate.setAttribute("id", rowId);

    if (isChecked) {
      apprenticeTableBody.appendChild(checkboxRowDuplicate);
    } else {
      document.querySelector(`tr#${rowId}`).remove();
    }

    if (apprenticeTableBody.children.length === 0) {
      apprenticeTable.style.display = 'none'
      noApprenticesMessage.style.display = 'block'
    } else {
      noApprenticesMessage.style.display = 'none'
    }
  }


  function handleSearchKeyup(event) {
    if (!event) return
    event.preventDefault();

    const filter = input.value.toLowerCase();
    const table = document.querySelector("[data-module='das-filterable-table']");
    const tr = table.getElementsByTagName("tr");

    // Loop through all table rows, and hide those who don't match the search query
    for (let i = 1; i < tr.length; i++) {
      const names = tr[i].getElementsByTagName("td")[1] || "";
      const ulns = tr[i].getElementsByTagName("td")[2] || "";
      const courses = tr[i].getElementsByTagName("td")[3] || "";
      const dates = tr[i].getElementsByTagName("td")[4] || "";

      const searchableStringForRow = `${names.textContent}${ulns.textContent}${courses.textContent}${dates.textContent}`;

      if (searchableStringForRow) {
        if (searchableStringForRow.toLowerCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }

  const input = document.querySelector("[data-module='das-table-filter-search']");
  input.addEventListener("keyup", handleSearchKeyup);

  const checkboxes = document.querySelectorAll("input[name='apprentices']");
  checkboxes.forEach(checkbox => checkbox.addEventListener("click", handleCheckboxClick));

</script>

{% endblock %}