{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v8/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">Give feedback</h1>

      <form action="" method="post" class="form">

    {{ govukRadios({
      idPrefix: "give-feedback",
      name: "give-feedback",
      fieldset: {
        legend: {
          text: "Overall, how did you feel about the service you received today?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "very-satisifed",
          text: "Very satisifed"
        },
        {
          value: "satisifed",
          text: "Satisifed"
        },
        {
          value: "neither",
          text: "Neither satisifed or dissatisifed"
        },
        {
          value: "dissatisifed",
          text: "Dissatisifed"
        },
        {
          value: "very-dissatisifed",
          text: "Very dissatisifed"
        }
      ]
    }) }}

    <h2 class="govuk-heading-m">How could we improve the service?</h2>

    {{ govukCharacterCount({
      name: "feedback",
      id: "feedback",
      maxlength: 1200
    }) }}

    <p>Please do not include any personal or financial information.</p>

      {{ govukButton({
        text: "Continue",
        href: "feedback-confirmation"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
