{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v8/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Apply for the new apprentice payment</h1>
      <p>The new apprentice payment is available for employers that take on new apprentices from 1 August 2020 to 31 January 2021. Employers can apply for the payment after they add new apprentices to their apprenticeship service account.</p>
      <p>This is in addition to the existing £1,000 payment we already offer for new apprentices:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>aged 16 to 18 years old</li>
      <li>under 25 with an education, health and care plan</li>
      </ul>

      <h2 class="govuk-heading-m">What you'll get</h2>
      <p>For apprentices aged:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>16 to 24, employers will receive £2,000</li>
      <li>over 25, employers will receive £1,500</li>
      </ul>
      <p>You’ll get the payment in 2 equal instalments, after the apprentice completes 90 and 365 days of their apprenticeship.</p>
      <p>We make payments on the 10th working day of each month. You’ll need to give us your organisation’s bank details when you apply, so that we can pay you directly.</p>
      <h2 class="govuk-heading-m">What you can use the payment for</h2>
      <p>You can use the payment for anything to support your organisation’s costs.</p>
      <p>The payment is different to the apprenticeship levy and you can use it to pay for recruiting and employing new apprentices.</p>
      <h2 class="govuk-heading-m">Eligibility</h2>
      <p>You can only apply for this payment for new apprentices who started their contract of employment between 1 August 2020 and 31 January 2021.</p>


      {{ govukButton({
        text: "Start now",
        href: "select-legal-entity",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}
    </div>
  </div>

{% endblock %}
