{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v8/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--info">
          <h1 class="govuk-panel__title">
          We need your organisation’s bank details
          </h1>
        </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">We have sent you an email with the link to add your organisation’s bank details.</p>
      <p class="govuk-body">We cannot make the new apprentice payment until we have your organisation’s bank details.</p>
      <h2 class="govuk-heading-m">When you’ve added the bank details</h2>
      <p class="govuk-body">You’ll receive the first payment after the apprentice completes 90 days of their apprenticeship and the second payment after 365 days.</p>
      <p class="govuk-body">We make payments on the 10th working day of each month.</p>

    </div>
  </div>
{% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "email/need-to-add-bank-details",
            text: "Email sent to user (for test purposes)"
          }
        ]
      }
    }) }}
  {% endblock %}