// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: "/govuk/assets/";

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "node_modules/govuk_frontend_toolkit/stylesheets/_grid_layout";
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-header";
@import "patterns/step-by-step-nav";
@import "patterns/step-by-step-related";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/panels";
@import "node_modules/accessible-autocomplete/src/autocomplete";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// DAS patterns
@import "helpers/das-utilities";
@import "helpers/das-arrows";
@import "helpers/das-colours";
@import "helpers/das-images";
@import "components/das-buttons";
@import "components/das-definition-lists";
@import "components/das-section-break";
@import "components/das-dashboard-header";
@import "components/das-promo";
@import "components/das-dashboard-footer";
@import "components/das-header";
@import "components/das-user-navigation";
@import "components/das-search";
@import "components/das-nav";
@import "components/das-tabs--apprentices";
@import "components/das-item-list";
@import "components/sfa-menu";
@import "components/das-account-header";
@import "components/app-tags";
@import "components/app-summary-list";
@import "components/app-task-list";
@import "components/app-alert";
@import "components/das-account-header-v2";
@import "components/raa-card";
@import "components/das-pagination";
@import "patterns/das-account-header";
@import "patterns/das-minimal-sections";
@import "patterns/das-sections";
@import "patterns/das-panels";
@import "patterns/das-panel";
@import "patterns/app-interruption-card";
@import "patterns/floating-menu";

@import "components/pagination";

//Grey panel
.grey-panel {
  padding: 15px 15px 1px 15px;
}
@media (min-width: 641px){
  .grey-panel {
      padding: 20px 20px 1px 20px;
  }
}
.grey-panel-blocked {
  background: govuk-colour("light-grey");
}
.grey-panel-bordered {
  border: 1px solid $govuk-border-colour;
}

.no-bottom-header {
  margin-bottom: 0;
  border-bottom: 0;
}

[aria-sort] button,
[aria-sort] button:hover {
  background-color: transparent;
  border-width: 0;
  -webkit-box-shadow: 0 0 0 0;
  -moz-box-shadow: 0 0 0 0;
  box-shadow: 0 0 0 0;
  color: #005ea5;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  padding: 0 16px 0 0;
  position: relative;
  text-align: inherit;
  font-size: 1em;
  margin: 0;
}

[aria-sort] button:focus {
  /*background-color: $govuk-focus-colour;
  color: $govuk-focus-text-colour;
  box-shadow: 0 -2px $govuk-focus-colour, 0 4px $govuk-focus-text-colour;
  outline: none;*/
  background-color: #ffbf47;
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

[aria-sort]:first-child button {
  right: auto;
}
/*
[aria-sort] button:before {
  content: " \25bc";
  position: absolute;
  right: -1px;
  top: 9px;
  font-size: 0.5em;
}

[aria-sort] button:after {
  content: " \25b2";
  position: absolute;
  right: -1px;
  top: 1px;
  font-size: 0.5em;
}
*/
[aria-sort="ascending"] button:before,
[aria-sort="descending"] button:before {
  content: none;
}

[aria-sort="ascending"] button:after {
  content: " \25b2";
  font-size: 0.8em;
  position: absolute;
  right: -2px;
  top: 2px;
}

[aria-sort="descending"] button:after {
  content: " \25bc";
  font-size: 0.8em;
  position: absolute;
  right: -2px;
  top: 2px;
}

.cards {
  background: #fff;
  margin: 0 -15px;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}

@media (min-width: 641px) {
  .cards {
    display: flex;
    display: -ms-flex;
  }
}

.card {
  padding: 0 15px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .card {
    width: 50%;
  }
}

.card > h3 {
  margin-top: 0;
  margin-bottom: 0.5em;
}

.card > p {
  font-size: 14px;
}

@media (min-width: 641px) {
  .card > p {
    font-size: 16px;
  }
}
.das-section-break {
  margin: 0;
  border: 0;
}

.das-section-break--s {
  margin-bottom: 10px;
}

.das-section-break--m {
  margin-bottom: 20px;
}

.das-section-break--l {
  margin-bottom: 30px;
}

.das-section-break--heavy {
  border-top: 5px solid #000;
}

.das-section-break--heavy-grey {
  border-top: 5px solid #bfc1c3;
}

.das-section-break--gutters {
  margin-left: 15px;
  margin-right: 15px;
}

// notify email styles

.email-message {
  background: #fff;
}

.email-message table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.email-message table td,
.email-message table th {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  padding: 0.63158em 1.05263em 0.47368em 0;
  text-align: left;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .email-message table td,
  .email-message table th {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.email-message table thead th {
  font-weight: 700;
}

.email-message table td:last-child,
.email-message table th:last-child {
  padding-right: 0;
}

.email-message table .numeric {
  text-align: right;
}

.email-message table td.numeric {
  font-family: ntatabularnumbers, "GDS Transport", Arial, sans-serif;
}

.email-message table caption {
  text-align: left;
}

.email-message .table-font-xsmall th {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 700;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .email-message .table-font-xsmall th {
    font-size: 16px;
    line-height: 1.25;
  }
}

.email-message .table-font-xsmall td {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
}

@media (min-width: 641px) {
  .email-message .table-font-xsmall td {
    font-size: 16px;
    line-height: 1.25;
  }
}

.email-message .table-font-xsmall td,
.email-message .table-font-xsmall th {
  padding: 0.75em 1.25em 0.5625em 0;
}

.email-message {
  margin-bottom: 30px;
  border: 1px solid #bfc1c3;
}

.email-message .email-message-meta {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  margin: 0;
}

@media (min-width: 641px) {
  .email-message .email-message-meta {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.email-message .email-message-meta td,
.email-message .email-message-meta th {
  font-family: "GDS Transport", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  border-top: 0;
  border-bottom: 1px solid #bfc1c3;
  vertical-align: top;
}

@media (min-width: 641px) {
  .email-message .email-message-meta td,
  .email-message .email-message-meta th {
    font-size: 19px;
    line-height: 1.31579;
  }
}

.email-message .email-message-meta th {
  color: #6f777b;
  padding-left: 60px;
}

.email-message .email-message-meta td {
  width: 99%;
  padding-right: 60px;
  word-break: break-word;
}

.email-message .email-message-meta td:last-child {
  padding-right: 60px;
}

.email-message-from {
  padding-top: 15px;
}

.email-message-body {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 60px 0 60px;
  margin: 0;
  clear: both;
  position: relative;
  word-wrap: break-word;
}

.email-message-body table {
  margin: 0 0 20px 0;
}

.email-message-body table td {
  border: 0;
  padding: 0;
  font-family: inherit !important;
}

.email-message-body table li:first-child {
  margin-top: 0 !important;
}

.placeholder,
.placeholder-conditional,
.placeholder-no-brackets {
  display: inline;
  background: #fd0;
  color: #0b0c0c;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-radius: 20px;
  box-shadow: inset 0.47em 0 0 0 #fff, inset -0.47em 0 0 0 #fff,
    inset 0 -0.15em 0 0 #fff, inset 0 0.15em 0 0 #fff;
}

.placeholder-no-brackets {
  padding-left: 3px;
  padding-right: 3px;
  border-radius: 1px;
  box-shadow: inset 0 -0.1em 0 0 #fff, inset 0 0.1em 0 0 #fff;
}

.email-message-body p {
  margin: 0 0 20px 0;
  font-size: 19px;
  line-height: 25px;
  color: #0b0c0c;
}

/* v15 */

.das-no-wrap {
  white-space: nowrap;
}
.das-table--no-borders .govuk-table__header,
.das-table--no-borders .govuk-table__cell {
  border-bottom: none;
}

#selected-apprentices-accordion .govuk-accordion__controls {
  display: none;
}

.das-selected-apprentices-table {
  display: none;
}

.govuk-notification-banner__content > * {
  max-width: 100% !important;
}

// Lifted from: "gds-mainstream-guide-template-master"

// Guidance contents list
.gem-c-related-navigation {
  color: #0b0c0c;
  border-top: 2px solid #1d70b8;
  margin-top: 50px;
}
.gem-c-related-navigation__nav-section {
  margin-bottom: 30px;
}
.gem-c-related-navigation__sub-heading--footer {
  font-family: "GDS Transport",arial,sans-serif;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 19px;
  line-height: 1.3157894737;
  border-top: 0;
  padding-top: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}
gem-c-related-navigation__sub-heading {
   margin: 0;
}
.gem-c-related-navigation__link-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 1.25em;
}
.gem-c-related-navigation__link {
  line-height: 1.28;
  font-size: 16px;
  list-style: none;
  list-style-type: none;
  margin-top: 15px;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
.gem-c-contents-list__title {
  @include govuk-text-colour;
  @include govuk-font($size: 16, $weight: regular, $line-height: 1.5);
  margin: 0;
}
.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gem-c-contents-list__list-item {
  padding-top: govuk-spacing(2);
  line-height: 1.3;
  list-style-type: none;
}
.gem-c-contents-list__list,
.gem-c-contents-list__nested-list {
  @include govuk-text-colour;
  @include govuk-font($size: 16);
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.gem-c-contents-list__list-item--dashed {
  $contents-spacing: govuk-spacing(5);
  position: relative;
  padding-left: $contents-spacing;
  padding-right: $contents-spacing;
  &:before {
    content: "—";
    position: absolute;
    left: 0;
    width: govuk-spacing(4);
    overflow: hidden;
    .direction-rtl & {
      left: auto;
      right: 0;
    }
  }
}
// Pagination
.part-navigation-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 25px;
    border-bottom: 1px
    solid #b1b4b6;
  }
.pagination {
  padding: 15px 0 15px 0;
  margin-top: 80px;
  }
.pagination-subtitle-link {
  margin-top: -20px;
}
.pagination-link a, a:visited {
  text-decoration: none;
}
.info-notice {
  border-left: 10px solid #b1b4b6;
    padding: 1em 0 0.001em 1em;
    margin: 2em 0;
}
.related-navigation {
border-top: 2px solid #1d70b8;
padding-top: 10px;
margin-top: -40px;
}
.related-links li {
  line-height: 1.60;
}
.contents-list {
  padding-top: 50px;
  padding-bottom: 10px;
}
.contents li, ol {
  padding: 6px 25px 0px 0px;
}

.mainstream-guide-content {
}
// Pagination styling from GOV.UK Mainstream Guide
.gem-c-pagination {
  display: block;
  margin: govuk-spacing(8) 0;
}
.gem-c-pagination__list {
  margin: 0;
  padding: 40px 0 0 0;
}
.gem-c-pagination__item {
  font-size: 16;
  line-height: 2;
  list-style: none;
  &:first-child {
    margin-bottom: govuk-spacing(4);
  }
}
.gem-c-pagination__link {
  display: block;
  text-decoration: none;
  padding-bottom: govuk-spacing(4);
  &:hover,
  &:active,
  &:visited {
    color: $govuk-link-colour;
  }
  &:hover,
  &:active {
    background-color: govuk-colour("light-grey");
    // Add govuk-link hover decoration to title if no label present
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-decoration;
    }
    .gem-c-pagination__link-label,
    .gem-c-pagination__link-text--decorated {
      @include govuk-link-hover-decoration;
    }
  }
  &:focus {
    @include govuk-focused-text;
    .gem-c-pagination__link-title {
      border-top-color: transparent;
    }
    .gem-c-pagination__link-icon {
      fill: $govuk-text-colour;
    }
  }
}
.gem-c-pagination__link-title {
  display: block;
  border-top: 1px solid $govuk-border-colour;
  padding-top: govuk-spacing(3);
}
.gem-c-pagination__link-divider {
  @include govuk-visually-hidden;
}
.gem-c-pagination__link-text {
  font-size: 19px;
  font-weight: bold;
  margin-left: 20px;
  @include govuk-font(19, $weight: bold);
  margin-left: govuk-spacing(2);
}
.gem-c-pagination__link-icon {
  @include govuk-font($size: 24, $line-height: (33.75 / 27));
  display: inline-block;
  margin-bottom: 1px;
  height: .482em;
  width: .63em;
  fill: govuk-colour("dark-grey", $legacy: "grey-1");
}
.gem-c-pagination__link-label {
  display: inline-block;
  margin-top: .1em;
  margin-left: govuk-spacing(5);
}
