{% extends myData.layout %}
{% set serviceName = "" %}
{% set serviceUrl = "" %}

{% set _selectedStandard = myData.selectedStandard %}
{% set _standardTitle = _selectedStandard.title + " (level&nbsp;" + _selectedStandard.level + ")" %}

{% block pageTitle %} 
{% endblock %}

{% set _email = true %}
{% set _showAEDEmployerLinks2 = true %}
{% set _showAEDEmployerLinks3 = true %}
{% set _currentAEDEmployerLink = "aed-employer-email-expired-2" %}

{% set _orgNameAnswer = myData.orgNameAnswer or "ABC LTD" %}
{% set _locationAnswer = myData.location or "Coventry, Warwickshire" %}
{% set _apprenticesAnswer = myData.apprenticesAnswer or "yes" %}
{% set _apprenticesCountAnswer = myData.apprenticesCountAnswer or 1 %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-6" style="border-bottom: 1px solid grey; padding-bottom:20px">
        <span class="govuk-!-font-weight-bold">From:</span> The Apprenticeship Service &lt;the.apprenticeship.service@notifications.service.gov.uk&gt;
        <br><span class="govuk-!-font-weight-bold">Subject:</span> We’ve stopped sharing your interest in apprenticeship training with training providers
      </p>

      <h1 class="govuk-heading-l">
        We’ve stopped sharing your interest in apprenticeship training with training providers
      </h1>

      <p class="govuk-body">To {{_orgNameAnswer}},</p>

      <p class="govuk-body">
        Apprenticeship training course <br>
        <span>{{_standardTitle|safe}}</span>
      </p>
  
      <p class="govuk-body">
        Apprenticeship location <br>
        <span>{{_locationAnswer}}</span>
      </p>
  
      <p class="govuk-body">
        Number of apprentices <br>
        {% if _apprenticesAnswer == "yes" %}
        <span>{{_apprenticesCountAnswer}}</span>
        {% else %}
        <span>Not sure</span>
        {% endif %}
      </p>

      <div class="govuk-inset-text">
        This apprenticeship training course is no longer available for new apprentices.
      </div>

      <p class="govuk-body">You can search for another course at <a href="home" target="_blank" class="govuk-link govuk-link--no-visited-state">https://findapprenticeshiptraining.apprenticeships.education.gov.uk/</a></p>

      <p class="govuk-body">We’ve not shared your organisation name or email address with training providers.</p>
      
      <p class="govuk-body">From</p>
      
      <p class="govuk-body">The Apprenticeship Service</p>

  </div>
</div>

{% endblock %}
