{% extends "layout-guidance.html" %}

{% block pageTitle %}
  Incentive payments for hiring a new apprentice - GOV.UK
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Apprenticeships</a>
          </li>
        </ol>
      </div>
    </div>
    
    <div class="govuk-width-container">
      <main class="govuk-main-wrapper">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds contents-list">
            <span class="govuk-caption-l gem-c-title__context">Guidance</span>
            <h1 class="govuk-heading-l">Incentive payments for hiring a new apprentice</h1>
            <p class="govuk-body-l part-navigation-container">Employers can apply for a payment of £3000 for new apprentices with an employment start date from 1 October 2021 to 31 January 2022.</p>

            {# Contents #}

            {#  
            <nav class="gem-c-contents-list part-navigation-container" aria-label="Pages in this guide" role="navigation" data-module="gem-track-click">
              <h2 class="gem-c-contents-list__title">
                Contents
              </h2>
              <ol class="gem-c-contents-list__list">
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
                  Overview
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-options="{&quot;dimension29&quot;:&quot;Voting and coronavirus (COVID-19)&quot;}" href="/how-to-vote/voting-and-coronavirus">Voting and coronavirus (COVID-19)</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/how-to-vote/voting-in-person" data-track-options="{&quot;dimension29&quot;:&quot;Voting in person&quot;}" href="/how-to-vote/voting-in-person">Voting in person</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="/how-to-vote/postal-voting" data-track-options="{&quot;dimension29&quot;:&quot;Voting by post&quot;}" href="/how-to-vote/postal-voting">Voting by post</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="/how-to-vote/voting-by-proxy" data-track-options="{&quot;dimension29&quot;:&quot;Voting by proxy&quot;}" href="/how-to-vote/voting-by-proxy">Voting by proxy</a>
                </li>
                <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                  <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="/how-to-vote/voting-from-abroad" data-track-options="{&quot;dimension29&quot;:&quot;Voting from abroad&quot;}" href="/how-to-vote/voting-from-abroad">Voting from abroad</a>
                </li>
              </ol>
            </nav>
            #}

            <p class="govuk-body-s" id="contents">Contents</p>
            <ol class="govuk-list govuk-body-s contents govuk-!-margin-bottom-8">
              <li>&mdash; Overview</li>
              <li>&mdash; <a href="#apply-for-the-hire-a-new-apprentice-payment">Apply for the hire a new apprentice payment</a></li>
              <li>&mdash; <a href="#eligibility">Eligibility</a></li>
              <li>&mdash; <a href="#what-you-can-use-the-payment-for">What you can use the payment for</a></li>
              <li>&mdash; <a href="#how-to-apply">How to apply</a></li>
              <li>&mdash; <a href="#when-youll-get-paid">When you'll get paid</a></li>
              <li>&mdash; <a href="#get-help">Get help</a></li>
            </ol>

            {# End of Contents #}

            <div class="mainstream-guide-content">
              <h2 class="govuk-heading-m" id="apply-for-the-hire-a-new-apprentice-payment">Apply for the hire a new apprentice payment</h2>
              <p>Employers can apply for a payment of £3000 for new apprentices recruited from 1 October 2021 to 31 January 2022.</p>
              <p>You must <a href="https://www.gov.uk/guidance/manage-apprenticeship-funds">set up an apprenticeship service account</a> before you can apply.</p>
              <p>To receive the full payment, the apprentice must remain employed by you and on their  apprenticeship for at least one year.</p>

              <h2 class="govuk-heading-m" id="eligibility">Eligibility</h2>
              <p>You can apply for apprentices with an employment start date from 1 October 2021 to 31 January 2022.</p>
              <p>They will also need to have an apprenticeship start date from 1 October 2021 to 31 March 2022.</p>
              <p>Applications close on 15 May 2022.</p>

              <h2 class="govuk-heading-m" id="what-you-can-use-the-payment-for">What you can use the payment for</h2>
              <p>The payment is different to apprenticeship levy funds, so you can spend it on anything to support your organisation's costs. For example, on uniforms, your apprentice’s travel or their salary. You do not have to pay it back.</p>
              <p>The payment is in addition to the existing £1,000 an employer will already get for taking on an apprentice who is either:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>aged 16 to 18 years old</li>
                <li>under 25 and has an education, health and care plan or has been in the care of their local authority</li>
              </ul>
              <p>This £1000 payment will be paid to your training provider and you will receive it from them.</p>

              <h2 class="govuk-heading-m" id="how-to-apply">How to apply</h2>
              <p>Applications close on 15 May 2022.</p>
              <p>To receive the payment, you must <a href="https://accounts.manage-apprenticeships.service.gov.uk/">submit an application</a> for each eligible apprentice using your apprenticeship service account.</p>
              <p>You will need to add the apprentices to your Apprenticeship service account first. <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/4409844617234-How-to-apply-for-the-incentive-payment-for-hiring-a-new-apprentice">Find out how to apply</a>.</p>
              <p>To help ensure your application is successful, make sure the PAYE scheme for the apprentices is the same as the PAYE scheme registered on the employer account and check the training provider has been given the correct National Insurance Number for each apprentice.</p>
              <p>If you are applying for someone you previously hired as part of the <a href="https://www.gov.uk/government/collections/kickstart-scheme">Kickstart scheme</a>, you may be asked for some evidence before your application will be accepted. </p>

              <h2 class="govuk-heading-m" id="when-youll-get-paid">When you'll get paid</h2>
              <p>We'll send the payment in 2 equal instalments for each apprentice. To be eligible, your apprentice must complete:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>90 days of their apprenticeship for your first payment </li>
                <li>365 days of their apprenticeship for your second payment</li>
              </ul>
              <p>We will complete our checks, including cross-referencing the apprentice details. If the application is eligible, we will process the payments.</p>
              <p>Payments will be made on the 14th working day of the month, it can take up to 3 days for the payments to reach your account.</p>
              <p>You can track when your payments are due to be paid on your view applications page. Learn  about what our <a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/articles/4403316291090-Incentive-payment-for-hiring-a-new-apprentice-view-your-application">payment statuses</a> mean. Estimated payment dates can sometimes change.</p>
              <p>We cannot send any payments until we've received and verified the organisation and finance details. This could take up to 80 days.</p>

              <h2 class="govuk-heading-m" id="get-help">Get help</h2>
              <p>You can either:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/#contact-us">contact us</a></li>
                <li><a href="https://help.apprenticeships.education.gov.uk/hc/en-gb/sections/360003793119-Coronavirus">find out what we're doing to support apprenticeships during the coronavirus outbreak</a></li>
                <li><a href="https://www.gov.uk/guidance/how-to-take-on-an-apprentice">find out how to take on an apprentice</a></li>
              </ul>

              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

              <a class="govuk-link app-c-back-to-top dont-print" href="#contents">
                  <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false">
                    <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
                  </svg>
                  Contents
              </a>

            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

{% endblock %}
