{% extends "layout-notify-email.html" %} {% set serviceName %} Email {% endset
%} {% block content %}
<style>
  .govuk-width-container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
  }

  .govuk-template__body {
    background: transparent;
  }
</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="email-message">
      <table class="email-message-meta">
        <tbody>
          <tr>
            <th scope="row">From</th>
            <td>Apprenticeship Service (apprenticeship-service.gov.uk)</td>
          </tr>

          <tr>
            <th scope="row">To</th>
            <td>
              <span class="placeholder-no-brackets">name@example.com</span>
            </td>
          </tr>

          <tr class="email-message-meta">
            <th scope="row">Subject</th>
            <td>Hire a new apprentice: check your apprentices are eligible</td>
          </tr>
        </tbody>
      </table>
      <div class="email-message-body">

        <p>Dear <span class="placeholder-no-brackets">EMPLOYER LTD</span>,</p>

        <p>During the coronavirus (COVID-19) pandemic, you’ve recruited an apprentice and have applied for the hire a new apprentice payment. Thank you for your support in upskilling the UK workforce.</p>

        <p>We’re working to make the payments to you in early 2021.</p>

        <p>We understand that businesses have had to adapt and change quickly due to the impact of coronavirus. To make sure our payments are accurate, we need you to:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>check that all of the apprentices you’ve applied for are eligible</li>
          <li>find out what to do if you’ve applied for an apprentice who is not eligible</li>
        </ul>

        <p style="font-weight: bold;">Who is eligible</p>

        <p>You can only apply for new apprentices who joined your organisation from 1 August 2020 to 31 March 2021.</p>

        <p>You cannot apply for an existing employee who joined your organisation before 1 August 2020, even if they started an apprenticeship after this date.</p>

        <p style="font-weight: bold;">How to check</p>

        <p>You can check which apprentices you’ve applied for in your apprenticeship service account (<a href="https://accounts.manage-apprenticeships.service.gov.uk" class="govuk-link govuk-link--no-visited-state">https://accounts.manage-apprenticeships.service.gov.uk</a>).</p>

        <p style="font-weight: bold;">What to do if an apprentice is not eligible</p>

        <p>Contact us if you have applied for any apprentices who are not eligible for the payment. You can:</p>

        <ul class="govuk-list govuk-list--bullet">
          <li>call us on 0800 0150 600 (option 1 then option 2)</li>
          <li>email us on <a href="#" class="govuk-link govuk-link--no-visited-state">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
        </ul>

        <p>We’ll continue to audit applications. If you have provided any inaccurate or misleading information, you may have to repay any relevant hire a new apprentice payments.</p>

        <p>From</p>

        <p>Apprenticeship Service</p>

        <p>This is an automated message - do not reply.</p>

      </div>
    </div>

  </div>
</div>
{% endblock %}
