{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v6/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Apply for the recruit a new apprentice grant</h1>
      <p>The recruit a new apprentice grant is available for employers that take on new apprentices from September 2020. Employers can apply for the grant after they add each apprentice to their apprenticeship service account.</p>

      <h2 class="govuk-heading-m">What you'll get</h2>
      <p>For apprentices aged:</p>
      <ul class="govuk-list govuk-list--bullet">
      <li>16 to 24, employers will receive £3,000</li>
      <li>over 25, employers will receive £1,000</li>
      </ul>
      <p>We’ll pay the grant in 2 equal instalments. You’ll receive the first payment after the apprentice completes 90 days of their apprenticeship and the second payment after 365 days.</p>
      <p>We make payments on the 10th of each month. You’ll need to give us your organisation’s bank details when you apply, so that we can pay you the grant directly.</p>
      <h2 class="govuk-heading-m">What you can use the grant for</h2>
      <p>You can use the grant for anything to support your organisation’s costs during coronavirus.</p>
      <p>The grant is different to the apprenticeship levy and you can use it to pay for recruiting and employing new apprentices.</p>
      <p>You do not have to pay the grant back.</p>
      <h2 class="govuk-heading-m">Eligibility</h2>
      <p>Employers can only apply for this grant for apprentices that are new to their payroll.</p>

      <h2 class="govuk-heading-m">Apprentices who were made redundant</h2>
      <p>Employers can take on and apply for the grant for apprentices who were made redundant by their previous employer. This includes apprentices who are going to either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>start a new apprenticeship</li>
        <li>continue with their previous apprenticeship</li>
      </ul>
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the details of the apprentices you're applying for</li>
        <li>your organisation’s bank details</li>
        <li>the authority to accept the terms and conditions on behalf of your organisation</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "taken-on-new-apprentices",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}
    </div>
  </div>

{% endblock %}
