{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{_orgName}} needs to accept the employer agreement</h1>
    <p>To apply for the hire a new apprentice payment, someone from [organisation name] must review and accept a new agreement with the Education and Skills Funding Agency.</p>
<!--
    <p>The version {{_orgName}} needs to accept depends on whether they've already accepted the agreement we published on 9 January 2020. If {{_orgName}} has:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>already accepted the 9 January 2020 agreement, they only need to accept a variation to it now</li>
      <li>not accepted the 9 January 2020 agreement yet, they need to accept a new agreement</li>
    </ul>-->

      <form>

        {{ govukButton({
          text: "View agreement"
        }) }}

      </form>

      <p><a href="../account-home">Return to account home</a></p>

    </div>
  </div>
{% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "../skip-legal",
            text: "Skip (for test purposes)"
          }
        ]
      }
    }) }}
  {% endblock %}
