{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">You do not have any new apprentices in your account</h1>
      <p class="govuk-body">You can apply for new apprentices with a planned start date from 1 August 2020 to 31 January 2021.</p>
      <p class="govuk-body">If you have apprentices who are eligible for the hire a new apprentice payment, you can either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#">add them to your apprenticeship service account</a></li>
        <li><a href="../hub/view-payments">view your applications</a> to check if someone else has applied for them</li>
      </ul>
      <a class="govuk-button" href="../account-home">Return to account home</a>

    </div>
  </div>
{% endblock %}
