{% extends "layout.html" %}

{% block pageTitle %}
  Blank page
{% endblock %}

{% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
<h1 class="govuk-heading-xl">Contact apprenticeship service support</h1>
<p class="govuk-body">To remove an apprentice from your hire a new apprentice applications, you need to contact apprenticeship service support. You can contact us by:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>email at <a href="#">helpdesk@manage-apprenticeships.service.gov.uk</a></li>
  <li>phone on 08000 150 600</li>
</ul>
<p class="govuk-body">We are open from 8am to 8pm, Monday to Friday.</p>
</div>
    </div>

</main>
</div>
{% endblock %}
