{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v13/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Your hire a new apprentice applications</h1>
      <div class="govuk-inset-text">
      <p>Before we can make your payment, your training provider must confirm the information in your application. Your payment dates are estimated and may change.</p>
      </div>

      <details class="govuk-details" data-module="govuk-details" open="">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Why your payment date is an estimate</span>
  </summary>
  <div class="govuk-details__text"><p>Before we can make a payment, your training provider must confirm that the apprentice has completed 90 or 365 days of their apprenticeship.</p>
    <p>Training providers usually submit their apprentice information to ESFA at the start of each month. Your payment date can change if your training provider:</p>
    <ul class="“govuk-list govuk-list--bullet”">
      <li>does not confirm that your apprentice started their apprenticeship</li>
      <li>does not submit their information on time</li>
      <li>confirms a different apprenticeship start date</li>
      <li>gives us information that’s different to your apprenticeship service account (also known as a ‘data lock’)</li>
    </ul>
    </div>
    </details>
    </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full-width">

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th aria-sort="none" scope="col" class="govuk-table__header">Apprentice name</th>
            <th aria-sort="ascending" scope="col" class="govuk-table__header" style="width: 10%;">Application date</th>
            <th aria-sort="none" scope="col" class="govuk-table__header">Amount</th>
            <th aria-sort="none" scope="col" class="govuk-table__header" style="width: 40%;">Start date</th>
            <th aria-sort="none" scope="col" class="govuk-table__header">First payment</th>
            <th aria-sort="none" scope="col" class="govuk-table__header">Second payment</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Steven Smith</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Confirmed</strong>  7 August 2020</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Paid</strong><br> 20 January 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Estimated</strong><br>  20 September 2021</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Corina Carver</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£1,500</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Confirmed</strong> 7 August 2020</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red">Payment issue</strong><br>  </td>
            <td class="govuk-table__cell">
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jack Roberts</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£1,500</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--green">Confirmed</strong> 12 September 2020</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Estimated</strong><br>  20 January 2021</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">Estimated</strong><br>  20 October 2021</td>
          </tr>

          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Michael Johnson</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--yellow" style="line-height: 1.3">Waiting for training provider to confirm</strong></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">John Peters</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" style="line-height: 1.3">Apprentice withdrawn</strong></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Jas Johal</td>
            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">£2,000</td>
            <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--red" style="line-height: 1.3">Application removed</strong></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
          </tr>
        </tbody>
      </table>
      </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body"><a href="remove-apprentice">Remove an apprentice</a></p>
      <p class="govuk-body">We’ll pay your organisation by Bacs on the 14th working day of the month. It usually takes 3 working days to process your payment.</p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}

	<script>
		new MOJFrontend.SortableTable({
			table: [
				$('table')[0]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[1]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[2]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[3]
			]
		});

		new MOJFrontend.SortableTable({
			table: [
				$('table')[4]
			]
		});
	</script>



{% endblock %}
