{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "./includes/account-header.html" %}
{% endblock %}

{% set _backLink = "javascript:window.history.back();" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: _backLink
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Declaration</h1>
      <p>You are about to submit {{_orgNamePlural}} application for the hire a new apprentice payment.</p>
      <p>By submitting this application, you declare that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>all the information in this application is correct</li>
        <li>all the apprentices in this application have:
          <ul>
            <li>an employment start date from 1 October 2021 to 31 January 2022</li>
            <li>an apprenticeship start date from 1 October 2021 to 31 March 2022</li>
          </ul>
        </li>
        <li>you understand we will be undertaking checks of apprentice employment date, which may include cross-referencing with PAYE data</li>
        <li>you understand that where applicable, we may ask for evidence that your apprentice was recruited as part of the Kickstart scheme</li>
        <li>all the apprentices in this application are eligible in accordance with the <a href="https://www.gov.uk/guidance/apprenticeship-funding-rules" target="_blank">funding rules</a></li>
        <li>you understand we will stop payments and reclaim any funds paid for apprentices identified as ineligible</li>
        <li>you understand that {{_orgName}} must contact apprenticeship service support about any changes to the information provided</li>
        <li>you have read and understood the <a href="https://accounts.pp-eas.apprenticeships.education.gov.uk/accounts/JKKBY6/agreements" target="_blank">agreement<a/></li>
      </ul>
    <form action="" method="post" class="form">

      {{ govukButton({
        text: "Confirm and submit"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
