{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Apprentice removed</h1>
      </div>
     
      <p>
        We have sent you a confirmation email.
      </p>

      <p>You cannot apply for this apprentice again and we have removed them from your applications.</p>
      <p><a href="view-payments">View your applications and estimated payments.</a>

    </div>
  </div>

{% endblock %}
