{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You can only apply for apprentices who joined your payroll after 1 September 2020</h1>
    <p>You cannot apply for this incentive because you have not added any new apprentices who joined your payroll after 1 September 2020.</p>
    <a class="govuk-button" href="../account-home">Back to your employer account</a>
    </div>
  </div>
{% endblock %}
