{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v11/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Page not found</h1>
    <p>If you typed the web address, check it is correct.</p>

    <p>If you pasted the web address, check you copied the entire address.</p>
    <a href="../account-home.html">Return to account home</a>
    </div>
  </div>
{% endblock %}
