{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "mvs/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">Can you add {{_orgNamePlural}} organisation and finance details now?</h1>

    <p class="govuk-body">We cannot make any payments until we’ve received and verified {{_orgNamePlural}} organisation and finance details. This could take up to 3 months and we may contact someone from {{_orgName}}.</p>

    <p class="govuk-body">This includes {{_orgNamePlural}}:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>legal name, registered address and contact details</li>
      <li>Companies House number (if {{_orgName}} has one)</li>
      <li>VAT number (if {{_orgName}} has one)</li>
      <li>remittance email address</li>
      <li>finance director or finance lead’s contact details</li>
      <li>bank account details</li>    
    </ul>

    <p class="govuk-body">You can only add one bank account for {{_orgName}}. We’ll use this account to make all of their payments.</p>

    <p class="govuk-body">If you do not have these details, someone else from {{_orgName}} can add them later.</p>


      <form action="" method="post" class="form">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "bank-now",
        name: "bank-now",
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
