{% extends "layout-account.html" %}
{% block pageTitle %}
  Sorry, the service is being updated – apply for a new apprentice payment – GOV.UK
{% endblock %}
{% set serviceName %}
Apply for a new apprentice payment
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Sorry, the service is being updated</h1>
    <p class="govuk-body">The service is currently being updated and will be available later today. Once the update is finished, you can apply for new apprentices who joined your organisation from 1 April 2021 to 30 September 2021.</p>
    <p class="govuk-body">Please come back later and submit your application.</p>
    <p>You can no longer apply for apprentices who joined your organisation from 1 August 2020 to 31 March 2021.</p>
    <a class="govuk-button" href="../account-home">Return to account home</a>
    </div>
  </div>
{% endblock %}
