{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v16/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">

      {{ govukRadios({
        classes: "govuk-radios",
        idPrefix: "choose-organisation",
        name: "choose-organisation",
        fieldset: {
          legend: {
            text: "Choose organisation",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "ABC LTD",
            text: "ABC LTD"
          },
          {
            value: "ABC ASSOCIATES LTD",
            text: "ABC ASSOCIATES LTD"
          }
        ]
      }) }}

      <a class="govuk-button" href="view-applications-no-bank-details">Continue</a>

      </form>

    </div>
  </div>

{% endblock %}
