{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% set _cancelledCount = myData.selectedApprentices.length or 1 %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        {% if _cancelledCount != 1 %}
          <h1 class="govuk-panel__title">{{_cancelledCount}} applications cancelled</h1>
        {% else %}
          <h1 class="govuk-panel__title">One application cancelled</h1>

        {% endif %}
      </div>
      <p>You've cancelled the following for the hire a new apprentice payment:</p>
      {% if _cancelledCount == 1 %}
        <p><strong>ULN: 1899230256</strong></p>

        {% endif %}


          {% if _cancelledCount == 1 %}
            <p><strong>ULN: 1699230256</strong></p>
          {% endif %}
          {% if _cancelledCount == 2 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
          {% endif %}
          {% if _cancelledCount == 3 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
          {% endif %}
          {% if _cancelledCount == 4 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
            <p><strong>ULN: 1821204945</strong></p>
          {% endif %}
          {% if _cancelledCount == 5 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
            <p><strong>ULN: 1821204945</strong></p>
            <p><strong>ULN: 1860204324</strong></p>
          {% endif %}
          {% if _cancelledCount == 6 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
            <p><strong>ULN: 1821204945</strong></p>
            <p><strong>ULN: 1860204324</strong></p>
            <p><strong>ULN: 1890204776</strong></p>
          {% endif %}
          {% if _cancelledCount == 7 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
            <p><strong>ULN: 1821204945</strong></p>
            <p><strong>ULN: 1860204324</strong></p>
            <p><strong>ULN: 1890204776</strong></p>
            <p><strong>ULN: 1900030383</strong></p>
          {% endif %}
          {% if _cancelledCount >= 8 %}
            <p><strong>ULN: 1699230256</strong></p>
            <p><strong>ULN: 1797673773</strong></p>
            <p><strong>ULN: 1798232356</strong></p>
            <p><strong>ULN: 1821204945</strong></p>
            <p><strong>ULN: 1860204324</strong></p>
            <p><strong>ULN: 1890204776</strong></p>
            <p><strong>ULN: 1900030383</strong></p>
            <p><strong>ULN: 1923476224</strong></p>
          {% endif %}




      <h2 class="govuk-heading-m">What happens next</h2>

      {% if _cancelledCount != 1 %}
        <p>For the applications you’ve cancelled, {{_orgName}} will:</p>
      {% else %}
        <p>For the application you’ve cancelled, {{_orgName}} will:</p>
      {% endif %}

      <ul class="govuk-list govuk-list--bullet">
        <li>not receive any more payments</li>
        <li>have to repay any payments that they’ve already received</li>
      </ul>

      <p>If {{_orgName}} has already received a payment, we will try to reclaim it automatically from their future incentive payments. If we cannot reclaim the amount, we will invoice {{_orgName}} for payment.</p>

      <p>It can take up to 4 working days for this change to show within your applications.</p>

      <p class="govuk-body"><a href="view-payments" class="govuk-button">View applications</a>

      <p class="govuk-body"><a href="feedback" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
