{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{_orgName}} cannot apply for this payment</h1>
    <p>{{_orgName}} can only apply for eligible apprentices with an employment start date from 1 October 2021 to 31 January 2022<p/>TThey will also need to have an apprenticeship start date from 1 October 2021 to 31 March 2022.
    </p>
    
    <!--<p>If {{_orgName}} has apprentices who are eligible for this payment, they need to <a href="">add them to their apprenticeship service account</a>.</p>-->
    <a class="govuk-button" href="../account-home">Return to account home</a>
    </div>
  </div>
{% endblock %}
