{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% set _cancelledCount = myData.selectedApprentices.length or 1 %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        {% if _cancelledCount != 1 %}
          <h1 class="govuk-panel__title">Applications cancelled</h1>
        {% else %}
          <h1 class="govuk-panel__title">Application cancelled</h1>
        {% endif %}
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>

      {% if _cancelledCount != 1 %}
        <p class="govuk-body">{{_cancelledCount}} applications cancelled. You will not receive any hire a new apprentice payments for these apprentices.</p>
      {% else %}
        <p class="govuk-body">One application cancelled. You will not receive any hire a new apprentice payments for this apprentice.</p>
      {% endif %}

      <p class="govuk-body">You will have to repay any payments that you’ve already received.</p>

      <p class="govuk-body"><a href="view-payments" class="govuk-button">View applications</a>

      <p class="govuk-body"><a href="feedback" class="govuk-link govuk-link--no-visited-state">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>

{% endblock %}
