{% extends "layout-email.html" %}

{% set serviceName %}
Email
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <img src="/public/images/ESFA-logo.jpg" style="height: 20%; width: 20%; margin-bottom: 20px">
    <p class="govuk-body govuk-!-font-weight-bold">From: Apprenticeship Service &lt;apprenticeship-service.gov.uk&gt;</p>
    <p class="govuk-body govuk-!-font-weight-bold">Subject: You still need to add your organisation’s bank details</p>
    <p>To [employer name]</p>
    <p>You need to add your organisation’s bank details, so that we can make the hire a new apprentice payment <a href="../bc/start">(www.url.com)</a>.</p>
    <p>You’ll need to give us your organisation’s:</p>
    <ul class="govuk-list govuk-list--bullet">
    <li>legal name, registered address and contact details</li>
    <li>Companies House number (if your organisation has one)</li>
    <li>remittance email address</li>
    <li>finance director or finance lead’s contact details</li>
    <li>bank account details</li>
    </ul>
    <p class="govuk-body govuk-!-font-weight-bold">From</p>
    <p class="govuk-body govuk-!-font-weight-bold">ESFA (Education and Skills Funding Agency)</p>
    </div>
  </div>
{% endblock %}
