{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{_orgName}} does not have any eligible apprentices</h1>
    <p>{{_orgName}} can only apply for eligible apprentices with an employment start date from 1 October 2021 to 31 January 2022.</p>
    <p>They will also need to have an apprenticeship start date from 1 October 2021 to 31 March 2022.</p>
<!--
    <p>In addition, {{_orgName}} can apply for apprentices with an employment start date from 1 October 2021 to 31 January 2022, applications close on 31 March 2022.<br />
      They must also have an apprenticeship start date from 1 October 2021 to 31 March 2022.
    </p>-->


    <a class="govuk-button" href="../account-home">Return to account home</a>
    </div>
  </div>
{% endblock %}
