{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "./includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "check-answers"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-xl">You have apprentices that are not eligible for the payment</h1>
       
        <p class="govuk-body">{{_orgName}} cannot apply for an existing employee who joined their organisation before 1 August 2020, even if they started an apprenticeship after this date.</p>

        <p class="govuk-body govuk-!-margin-top-4"><a href="select-new-apprentices" class="govuk-link govuk-link--no-visited-state">Change the apprentices you want to apply for</a></p>

        {{ govukButton({
            text: "Cancel application",
            href: "hub/view-payments"
        }) }}

    </div>
  </div>
{% endblock %}
