{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "./includes/account-header.html" %}
{% endblock %}

{% set _selectedApprentices = myData.selectedApprentices or myData.defaultSelectedApprentices %}
{% set _totalApprentices = _selectedApprentices.length %}

<!-- Dropout states -->

<!-- 1 selected, they are ineligible -->
{% set _oneSelected = _totalApprentices == 1 %}
<!-- more than 1 selected, All are ineligible -->
{% set _moreThanOneSelectedAllIneligible = _totalApprentices > 1 and myData.datedropout == "all" %}
<!-- more than 1 selected, 1 is ineligible -->
{% set _moreThanOneSelectedOneIneligible = _totalApprentices == 1 and myData.datedropout == "some" %}
<!-- more than 1 selected, 2 are ineligible -->
{% set _moreThanOneSelectedTwoIneligible = _totalApprentices > 2 and myData.datedropout == "some" %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "enter-start-dates"
    }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" class="form">

        <!-- 1 selected, they are ineligible -->
    <!--{% if _oneSelected %}
          <h1 class="govuk-heading-xl">{{_selectedApprentices[0].name}} is not eligible for the payment</h1>

        {% elif _moreThanOneSelectedOneIneligible %}
          <h1 class="govuk-heading-xl">{{_selectedApprentices[0].name}} is not eligible for the payment</h1>

        {% elif _moreThanOneSelectedAllIneligible %}
          <h1 class="govuk-heading-xl">These apprentices are not eligible for the payment</h1>

        {% elif _moreThanOneSelectedTwoIneligible %}
          <h1 class="govuk-heading-xl">Some apprentices are not eligible for the payment</h1>
        {% endif %}-->


        <h1 class="govuk-heading-xl">One or more apprentices are not eligible for the payment</h1>

        <p class="govuk-body">{{_orgName}} cannot apply for an existing employee who joined their organisation before 1 April 2021, even if they started an apprenticeship after this date.</p>

      <!--  {% if _moreThanOneSelectedAllIneligible %}
        <p class="govuk-body">The following apprentices are not eligible for the payment:</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for _apprentice in _selectedApprentices %}
          <li>{{_apprentice.name}} (joined on 1 July 2020)</li>
          {% endfor %}
        </ul>
        {% endif %}

        {% if _moreThanOneSelectedTwoIneligible %}
        <p class="govuk-body">The following apprentices are not eligible for the payment:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{_selectedApprentices[0].name}} (joined on 1 July 2020)</li>
          <li>{{_selectedApprentices[1].name}} (joined on 1 July 2020)</li>
        </ul>
        <p class="govuk-body">We will remove these apprentices from the application. </p>
        {% endif %}

        {% if _oneSelected or _moreThanOneSelectedOneIneligible %}
        <p class="govuk-body">{{_selectedApprentices[0].name}} joined {{_orgName}} on 1 July 2020.</p>
        {% endif %}

        {% if _moreThanOneSelectedOneIneligible %}
        <p class="govuk-body">We will remove {{_selectedApprentices[0].name}} from the application.</p>
        {% endif %}-->

        <p class="govuk-body">The following are not eligible for the payment:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{_selectedApprentices[0].name}} (joined on 1 July 2020)</li>
          <li>{{_selectedApprentices[1].name}} (joined on 1 July 2020)</li>
        </ul>
        <p class="govuk-body">We will remove these apprentices from the application. </p>

        {% if _oneSelected or _moreThanOneSelectedAllIneligible %}

          {{ govukButton({
              text: "Cancel application"
          }) }}

        {% else %}

          {{ govukButton({
              text: "Continue"
          }) }}

        {% endif %}

      </form>

    </div>
  </div>
{% endblock %}
