{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v12/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-xl">Your payment information</h1>
      <p>Your payment information is still being processed.</p>
    </div>
  </div>
{% endblock %}
