{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% set _removableApprenticesCount = myData.removableApprentices.length %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}

  <link
  rel="stylesheet"
  type="text/css"
  href="https://accounts.pp-eas.apprenticeships.education.gov.uk/bundles/screen?v=PrJDgwMjeYj_6FGrqGb_oKqRAlrtULR-T0oXC2oEIpI1"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="https://das-pp-frnt-end.azureedge.net/css/main.css"
/>
{% endblock %}

{% set _backlink = "home" %}
{% set _backlinkText = "Hire a new apprentice payments" %}
{% if myData.mvs == "mvs" or myData.mvs == "mvslive" %}
  {% set _backlink = "../account-home" %}
  {% set _backlinkText = "Home" %}
{% endif %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{_backlink}}">{{_backlinkText}}</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}

{% if myData.apprenticesapplied == "0" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{_orgName}} does not have any hire a new apprentice payment applications</h1>

    <p class="govuk-body">{{_orgName}} can apply for new apprentices with a planned start date from 1 April 2021 to 30 November 2021.</p>

    <a href="../guidance" class="govuk-button">Apply</a>

  </div>
</div>

{% else %}
<div class="govuk-grid-row">
<h1 class="govuk-heading-xl">View your payments and applications</h1>
<p>View all your payments and alerts. You can also view which payments are pending, sent and paused.</p>

<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive">Warning</span>
    You currently have <a href="index2#past-day">3 Alerts</a> for payments and applications that may need attention.
  </strong>
</div>


<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      How the payments are made
    </span>
  </summary>
    <div class="govuk-details__text">
<p class="govuk-body">We’ll send the payment in 2 equal instalments for each apprentice. We’ll send the: </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>first payment after an apprentice completes 90 days of their apprenticeship</li>
    <li>second payment after an apprentice completes 365 days of their apprenticeship</li>
  </ul>
  <p class="govuk-body">Payments are sent by Bacs on the 14th working day of the month. It usually takes 3 working days to process.</p>
</div>
</details>

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Why we might send the payment after the estimated date
    </span>
  </summary>
  <div class="govuk-details__text">

    <p class="govuk-body">We might send the payment after the estimated date if the training provider:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>does not submit their information on time</li>
      <li>gives us information that does not match what is in the apprenticeship service account (also known as a ‘data lock’)</li>
      <li>changes an apprentice’s start date</li>
    </ul>

    <p class="govuk-body">We also might send the payment after the estimated date if:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>{{_orgName}} does not add their organisation and finance details or if we have not verified them</li>
      <li>an apprentice takes a break in learning</li>
    </ul>

  </div>
</details>

<!-- <h3 class="govuk-heading-m">
  6 apprentices<br>
  <span class="govuk-!-font-weight-regular govuk-!-font-size-19">£3,000 estimated total payment</span>
</h3> -->

{% endif %}




   <p class="govuk-body"><a href="remove-apprentice" class="govuk-link govuk-link--no-visited-state">Cancel an application</a></p>





<br />


<form method="get" action="#">
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <!--  <div class="govuk-form-group">
                  <label for="searchTerm" class="govuk-label">Search apprentice name or unique learner number (ULN)</label>
                  <div class="das-search-form__group">
                      <input class="govuk-input das-search-form__input" id="searchTerm" name="searchTerm" type="text">
                      <div class="das-search-form__button-wrap">
                          <button class="govuk-button das-search-form__button" type="submit">Search</button>
                      </div>
                  </div>
              </div>-->
          </div>
      </div>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
              <div class="das-pane govuk-!-margin-bottom-3">
                  <div class="govuk-grid-row">
                    <div class="govuk-form-group">

                          <div class="govuk-grid-column-one-third">
                            <label class="govuk-label" for="selectedEmployer">Apprentice</label>
                            <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input search-input" >
                          </div>
                          <div class="govuk-grid-column-one-third">
                            <label class="govuk-label" for="selectedEmployer">ULN</label>
                            <input type="search" value="{% if myData.searchapplied == true %}{{myData.searchTerm}}{% endif %}" id="search-training" name="q" title="Search" class="govuk-input search-input" >
                          </div>
                          <div class="govuk-grid-column-one-third">
                            <label class="govuk-label" for="selectedEmployer">Current Status</label>
                            <select class="govuk-select govuk-!-width-full" id="selectedCourse" name="selectedCourse">
                            <option label="All" aria-label="All courses" value="">All</option>
                            <option label="Alert" aria-label="All courses" value="">Alert</option>
                            <option label="Pending" aria-label="All courses" value="">Pending</option>
                            <option label="Payment Sent" aria-label="All courses" value="">Payment Sent</option>
                            <option label="Inactive" aria-label="All courses" value="">Inactive</option>
                              </select>
                          </div>
                    </div>
                  <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">

                      </div>
                  </div>
                  <button class="govuk-button govuk-!-margin-0" type="submit">Apply filters</button>
              </div>
          </div>
      </div>
  </form><br />

  </div>
<div class="govuk-tabs" data-module="govuk-tabs">
  <h2 class="govuk-tabs__title">

  </h2>
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#all">
        All
      </a>
    </li>
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#past-day">
        Alerts
      </a>
    </li>



  </ul>
  <div class="govuk-tabs__panel" id="past-day">
    <h2 class="govuk-heading-l">Payments and applications that may need attention</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="20%">Apprentice</th>
          <th scope="col" class="govuk-table__header" width="20%">ULN</th>

          <th scope="col" class="govuk-table__header">Application date</th>
          <th scope="col" class="govuk-table__header">Current status</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Corina Carver</a></td>
              <td class="govuk-table__cell">6297953451</td>

          <td class="govuk-table__cell">9 April 2021</td>
          <td class="govuk-table__cell" style="max-width:100px">
            <strong class="govuk-tag govuk-tag--red">Payment issue</strong><br>
            <br>Information mismatch with your training provider, please contact them
          </td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Jack Roberts </a></td>
              <td class="govuk-table__cell">3758052381</td>

          <td class="govuk-table__cell">8 April 2021</a></td>
          <td class="govuk-table__cell">Payment reclaimed</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Joaquim Pinto</td>
              <td class="govuk-table__cell">3789030987</td>

          <td class="govuk-table__cell">7 April 2021</td>
          <td class="govuk-table__cell">Training provider needs to confirm they have started their apprenticeship</td>

        </tr>

      </tbody>
    </table>
  </div>

  <div class="govuk-tabs__panel" id="all">
    <h2 class="govuk-heading-l">View all your payments and applications</h2>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header" width="17%">Apprentice</th>
          <th scope="col" class="govuk-table__header" width="8%">ULN</th>

          <th scope="col" class="govuk-table__header" width="20%">Application date</th>
          <th scope="col" class="govuk-table__header">Current status</th>

        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="details.html">Corina Carver</a></td>
              <td class="govuk-table__cell">6297953451</td>

          <td class="govuk-table__cell">9 April 2021</td>
          <td class="govuk-table__cell" style="max-width:100px">
            <strong class="govuk-tag govuk-tag--red">Payment issue</strong><br>
            <br>Information mismatch with your training provider, please contact them
          </td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Jack Roberts </a></td>
              <td class="govuk-table__cell">3758052381</td>

          <td class="govuk-table__cell">8 April 2021</td>
          <td class="govuk-table__cell">Payment reclaimed</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Joaquim Pinto</a></td>
              <td class="govuk-table__cell">3789030987</td>

          <td class="govuk-table__cell">7 April 2021</td>
          <td class="govuk-table__cell">Training provider needs to confirm they have started their apprenticeship</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Steven Smith</a> </td>
              <td class="govuk-table__cell">9205398553</td>

          <td class="govuk-table__cell">5 September 2020</td>
          <td class="govuk-table__cell">Application submitted</td>


        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Edward Mcgarren </a></td>
              <td class="govuk-table__cell">7758784049</td>

          <td class="govuk-table__cell">5 September 2020</td>
          <td class="govuk-table__cell">Application submitted</td>

        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Raj Damodram</a></td>
              <td class="govuk-table__cell">9205398577</td>

          <td class="govuk-table__cell">5 September 2020</td>
          <td class="govuk-table__cell">Payment Sent</td>


        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Symon Alson</a></td>
              <td class="govuk-table__cell">8205398572</td>

          <td class="govuk-table__cell">5 September 2020</td>
          <td class="govuk-table__cell">Payment Sent</td>



        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell" "><a href="details.html">Choi Kong</a></td>
              <td class="govuk-table__cell">565335811</td>

          <td class="govuk-table__cell">5 September 2020</td>
          <td class="govuk-table__cell">Apprentice Paused or Stopped</td>

          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" "><a href="details.html">Andrea Mchoosky</a></td>
                <td class="govuk-table__cell">2104305954</td>

            <td class="govuk-table__cell">5 September 2020</td>
            <td class="govuk-table__cell">Apprentice Paused or Stopped</td>

            </tr>
      </tbody>
    </table>
  </div>

    </table>

  </div>

</div>

{% endblock %}
