{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v9/includes/account-header.html" %}
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">We need your organisation’s bank details</h1>

    <p>You must provide information about your banking and payments to DfE, so that we can make the new apprentice payment.</p>
    <p>You’ll need to give us your:</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>contact details</li>
        <li>organisation’s address and bank account details </li>
    </ul>
    <h3 class="govuk-heading-m">Can you add your organisation’s bank details now?</h3>
    <p>If you do not have these details, someone else from your organisation can add them later.</p>

      <form action="" method="post" class="form">

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "bank-now",
        name: "bank-now",
        items: [
          {
            value: "yes",
            text: "Yes"
          },
          {
            value: "no",
            text: "No"
          }
        ]
      }) }}


      {{ govukButton({
        text: "Continue"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
