{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "mvs/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>
      <p class="govuk-body">You’re eligible for the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days.</p>
      <p class="govuk-body">Before we can make a payment, we need your training provider to confirm whether the apprentice is still on their apprenticeship. Training providers usually submit information about their apprentices at the start of every month.</p>
      <p class="govuk-body">We'll start making payments from January 2021. It will take longer to get your first payment for any apprentices who start their training in August 2020.</p>
      <p class="govuk-body">We'll use your organisation's bank details to make your payment. You do not need to do anything else.</p>

      <h2 class="govuk-heading-m govuk-!">Changes to your payment</h2>

      <p class="govuk-body">Your payment amount may change if an apprentice has their 25th birthday before they start their apprenticeship.</p>
      <p class="govuk-body">We cannot make your payment if:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>an apprentice is on a break in learning</li>
        <li>an apprentice’s contract of employment ends before they complete 90 or 365 days of their apprenticeship</li>
        <li>the training provider does not confirm that the apprentice has started their apprenticeship</li>
        <li>the apprentice started their contract of employment before 1 August 2020</li>

      </ul>

      <a class="govuk-button" href="account-home">Return to account home</a>

      <p class="govuk-body"><a href="feedback" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>
    </div>
  </div>
{% endblock %}
