{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Apply for incentive payments</h1>
      <p>Incentive payments are available for employers that take on new apprentices from September 2020. You can apply for the incentives after you add each apprentice to your apprenticeship service account.</p>
      <p>There are 2 incentives available for apprentices:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>aged 16 to 24</li>
        <li>who will spend at least X weeks on off-the-job training at the start of their apprenticeship</li>
        </ul>
      <p>You can only get incentive payments for apprentices that are new to your payroll.</p>


      <h2 class="govuk-heading-m">What you'll get</h2>
      <p>The amount you’ll get for apprentices:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>aged 16 to 24 is £3,000 (paid in 2 equal instalments 90 and 365 days after you apply)</li>
        <li>who will spend at least X weeks on off-the-job training is £2,500 (paid in the second month of the apprentice’s training)</li>
      </ul>
      <p>If you apply for multiple eligible apprentices, we’ll pay their incentives together.</p>

      <h2 class="govuk-heading-m">Apprentices who were made redundant</h2>
      <p>You can take on and apply for incentive payments for apprentices who were made redundant by their previous employer. This includes apprentices who will either:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>start a new apprenticeship standard</li>
        <li>continue with their previous apprenticeship standard</li>
      </ul>

      {{ govukButton({
        text: "Start now",
        href: "select-new-apprentices",
        classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8",
        isStartButton: true
      }) }}
    </div>
  </div>

{% endblock %}
