{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {% if data['error-sign-agreement'] == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: "Sign agreement",
              href: "#submit-confirm-1"
            }
          ]
        }) }}
        {% endif %}

      <h1 class="govuk-heading-xl">Sign agreement</h1>
      <p>Agreement example</p>
      <p>Agreement example</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Example 1</li>
        <li>Example 2</li>
        <li>Example 3</li>
      </ul>
    <form action="" method="post" class="form">
    {% if data['error-sign-agreement'] == true %}
    {{ govukCheckboxes({
      idPrefix: "submitconfirm-1",
      name: "submitconfirm-1",
      classes: "govuk-checkboxes--small",
      errorMessage: {
        text: "Sign agreement"
      },
      items: [
        {
          value: "confirm",
          text: "I confirm etc"
        }
      ]
    }) }}

    {% else %}
    {{ govukCheckboxes({
      idPrefix: "submitconfirm-1",
      name: "submitconfirm-1",
      classes: "govuk-checkboxes--small",
      items: [
        {
          value: "confirm",
          text: "I confirm etc"
        }
      ]
    }) }}
    {% endif %}

      {{ govukButton({
        text: "Continue"
      }) }}
      </form>

    </div>
  </div>

{% endblock %}
