  <style>
  .govuk-header{border-bottom: 0!important;}
  .govuk-header__container{border-bottom: 0!important; margin-bottom: 0!important;}
  </style>
  <div id="floating-menu-holder" class="employer-menu">
  	<div class="account-information floating-menu" role="navigation">
  		<div class="js-float">
  			<p class="floating-head-text">Your employer account </p>
  			<nav id="user-nav">
  				<ul>
  					<li><a href="javascript:preventDefault();">Help</a></li>
  					<li class="has-sub-menu">
  						<a href="javascript:preventDefault();" role="menuitem">Settings</a>
  						<ul role="menu" class="js-hidden" id="settings-menu" aria-expanded="false">
  							<li><a href="javascript:preventDefault();" role="menuitem" class="sub-menu-item">Your accounts</a></li>
  							<li><a href="javascript:preventDefault();" class="sub-menu-item">Change your password</a></li>
  							<li><a href="javascript:preventDefault();" class="sub-menu-item">Change your email address</a></li>
  						</ul>
  					</li>
  					<li><a href="javascript:preventDefault();" role="menuitem">Sign out</a></li>
  				</ul>
  			</nav>
  		</div>
  	</div>
  </div>

  <div class="header-organisation" role="navigation">
  	<nav class="header-inner">
  		<ul role="menubar" id="global-nav-links">
  			<li>
  				<a href="/v5/account-home" class="" role="menuitem">Home</a>
  			</li>
  			<li>
  				<a href="javascript:preventDefault();" class="selected" role="menuitem">Finance</a>
  			</li>
  			<li>
  				<a href="javascript:preventDefault();" role="menuitem">Recruitment</a>
  			</li>
  			<li>
  				<a href="javascript:preventDefault();" role="menuitem">Apprentices</a>
  			</li>
  			<li>
  				<a href=javascript:preventDefault(); class="" role="menuitem">Your team</a>
  			</li>
  			<li>
  				<a href="javascript:preventDefault();" class="" role="menuitem">Your organisations and agreements</a>
  			</li>
  			<li class="menu-link">
  				<a href="javascript:preventDefault();">More</a>
  				<ul>
  					<li>
  						<a href="javascript:preventDefault();" class="" role="menuitem">PAYE schemes</a>
  					</li>
  				</ul>
  			</li>
  		</ul>
  	</nav>
  </div>