{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v16/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Your account does not have the right access</h1>
    <p>You need to contact an account owner from your organisation to change what you can do in your account.</p>
    <p>To apply for the hire a new apprentice payment or change your organisation’s bank details, you must be able to ‘add apprentices and view information’.</p>
    <a class="govuk-button" href="../account-home">Return to account home</a>
    </div>
  </div>
{% endblock %}
