{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v16/includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">You’ve already added your organisation’s bank details</h1>
    <p>You do not need to add your organisation's bank details, but you can <a href="../bc/amend-start">change them</a> if you need to.</p>
    <a class="govuk-button" href="../account-home">Return to account home</a>
    </div>
  </div>
{% endblock %}
