{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "./includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Application complete"
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">What happens next</h2>

      {% if myData.vrf == "notadded" or myData.vrf == "inprogress" %}
      <p class="govuk-body">We cannot send any payments until we’ve verified {{_orgNamePlural}} organisation and finance details. This could take up to 80 days and we may contact someone from {{_orgName}}.</p>
      <h2 class="govuk-heading-m">After we’ve verified {{_orgNamePlural}} organisation and finance details</h2>
      {% endif %}

      <p class="govuk-body">We'll send the payment in 2 equal instalments for each apprentice. To be eligible, your apprentice must complete:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>90 days of their apprenticeship for your first payment</li>
        <li>365 days of their apprenticeship for your second payment</li>
      </ul>
      <p class="govuk-body">Once the apprenticeship information has been checked, we will process the payments.</p>

      <p class="govuk-body">Payments will be made on the 14th working day of the month, it can take up to 3 days for the payments to reach your account.</p>

      <p class="govuk-body">You can track when your payments are due to be paid on your view applications page.</p>

      <p class="govuk-body">The training provider needs to confirm to ESFA when an apprentice is ready for each payment.</p>
      <p class="govuk-body">Payments are sent by Bacs on the 14th working day of the month. It usually takes 3 working days to process.</p>


      <h2 class="govuk-heading-m">Your applications</h2>

      <p class="govuk-body">You can view applications and estimated payment dates in the apprenticeship service account.</p>

      <a class="govuk-button" href="hub/view-payments">View applications</a>

      <p class="govuk-body"><a href="feedback" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)</p>

    </div>
  </div>
{% endblock %}
