{% extends "layout.html" %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Employer incentives design history</h1>
    <h2 class="govuk-heading-m">What is employer incentives?</h2>
    <p>We are designing a service to provide financial incentives to employers who newly employ apprentices from September 2020 onwards.</p>
    <h2 class="govuk-heading-m govuk-!-margin-top-6">Design team on this project</h2>
    <ul class="govuk-list govuk-list--bullet">
        <li><a href="mailto:jas.johal@digital.education.gov.uk">Jas Johal</a> - interaction designer</li>
        <li><a href="mailto:oliver.rose@digital.education.gov.uk">Oli Rose</a> - content designer</li>
        <li><a href="mailto:ben.towers@digital.education.gov.uk">Ben Towers</a> - user researcher</li>
    </ul>

    <h2 class="govuk-heading-m">Prototypes</h2>
    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Sprint 6"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>V11 - more post-MVS stuff.</h2>
            <span class='govuk-tag govuk-tag--grey govuk-!-margin-bottom-4'>Work in progress</span>
            <p>Added 'bank details' alert in account home.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v11/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v11/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v11/account-home-not-applied'>Start point: financial area in employer account and banner with legal agreement already signed</a></li>
            <li><a href='v11/account-no-agreement'>Start point: financial area in employer account and banner with legal agreement NOT signed</a></li>
            <li><a href='v11/account-subsequent-application'>Start point: subsequent application</a></li>
            <li><a href='v11/guidance'>Guidance (start) page</a></li>
            <li><a href='v11/lots-of-apprentices'>Select new apprentices with lots of learners</a></li>
            <li><a href='v11/account-with-bank-skipped'>Account home - alert to finish adding bank details</a></li>
            <li><a href='v11/email/need-to-add-bank-details'>Email to complete bank details when skipped</a></li>
            <li><a href='v11/email/reminder-bank-details'>Email when user is filling out bank details in application</a></li>
            <li><a href='v11/email/still-need-to-add-bank-details'>Email when user has not completed VRF after a period of time</a></li>
            <li><a href='v11/shutter/no-new-apprentices'>Shutter page - qualification question (do you have apprentices new to your organisation?)</a></li>
            <li><a href='v11/shutter/cannot-apply'>Shutter page - no commitments (no commitments within account which have an eligible planned start date)</a></li>
            <li><a href='v11/shutter/access-denied'>Shutter - account doesn't have permissions to apply or change bank details</a></li>
            <li><a href='v11/error/page-not-found'>Error - page not found (404 but can occur if the user tries to navigate to a page within the application after they've completed)</a></li>
            <li><a href='v11/payments/view-applications-no-bank-details'>View applications and payment info - no VRF complete</a></li>
            <li><a href='v11/payments/view-applications-in-progress'>View applications and payment info - VRF complete and in progress with BC</a></li>
            <li><a href='v11/payments/view-applications-vendor-setup-complete'>View applications and payment info - VRF complete and BC vendor set up complete</a></li>
            </ul>
            "
          }
        },
        {
          heading: {
            text: "Sprint 5"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>MVS - apply MVS journey.</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>READY FOR BUILD</span>
            <p>MVS - dev build - 13/08/2020.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='mvs/campaign/email'>Start point: campaign email</a></li>
            <li><a href='mvs/campaign/landing'>Campaign landing page</a></li>
            <li><a href='mvs/account-home-not-applied'>Start point: financial area in employer account and banner with legal agreement already signed</a></li>
            <li><a href='mvs/account-no-agreement'>Start point: financial area in employer account and banner with legal agreement NOT signed</a></li>
            <li><a href='mvs/account-subsequent-application'>Start point: subsequent application</a></li>
            <li><a href='mvs/guidance'>Guidance (start) page</a></li>
            <li><a href='mvs/email/need-to-add-bank-details'>Email to complete bank details when skipped</a></li>
            <li><a href='mvs/email/reminder-bank-details'>Email when user is filling out bank details in application</a></li>
            <li><a href='mvs/shutter/no-new-apprentices'>Shutter page - qualification question</a></li>
            <li><a href='mvs/shutter/cannot-apply'>Shutter - no commitments</a></li>
            <li><a href='mvs/shutter/access-denied'>Shutter - permissions</a></li>
            <li><a href='mvs/error/page-not-found'>Error - page not found</a></li>
            <li><a href='mvs/payments/view-applications'>View applications - MVS</a></li>
            <li><a href='mvs/payments/view-applications-empty'>View applications - no applications</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V10 - more post-MVS tweaks.</h2>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Work in progress.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v10/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v10/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v10/account-home-not-applied'>Start point: financial area in employer account and banner with legal agreement already signed</a></li>
            <li><a href='v10/account-no-agreement'>Start point: financial area in employer account and banner with legal agreement NOT signed</a></li>
            <li><a href='v10/account-subsequent-application'>Start point: subsequent application</a></li>
            <li><a href='v10/guidance'>Guidance (start) page</a></li>
            <li><a href='v10/email/need-to-add-bank-details'>Email to complete bank details when skipped</a></li>
            <li><a href='v10/payments/view-payments'>View payments - first design.</a></li>
            <li><a href='v10/lots-of-apprentices'>Lots of apprentices - added in start date to checkboxes and sorted by start date.</a></li>
            </ul>
            "
          }
        },
        {
          heading: {
            text: "Sprint 4"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>V9 - content changes and updates to VRF pages, first 'view payments' design.</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Content tweaks and changes to VRF pages. Added in first thoughts design for 'view payments'.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v9/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v9/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v9/account-home-not-applied'>Start point: financial area in employer account and banner with legal agreement already signed</a></li>
            <li><a href='v9/account-no-agreement'>Start point: financial area in employer account and banner with legal agreement NOT signed</a></li>
            <li><a href='v9/account-subsequent-application'>Start point: subsequent application</a></li>
            <li><a href='v9/guidance'>Guidance (start) page</a></li>
            <li><a href='v9/email/need-to-add-bank-details'>Email to complete bank details when skipped</a></li>
            <li><a href='v9/payments/view-payments'>View payments - first design.</a></li>
            <li><a href='v9/lots-of-apprentices'>Lots of apprentices - added in start date to checkboxes and sorted by start date.</a></li>
            </ul>
            "
          }
        },
        {
          heading: {
            text: "Sprint 3"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>V8 - integration with business central</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Added integration with BC journey for VRF form. Changed CoA in service to declaration and updated content overall to reflect policy better.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v8/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v8/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v8/account-home-not-applied'>Start point: financial area in employer account and banner with legal agreement already signed</a></li>
            <li><a href='v8/account-no-agreement'>Start point: financial area in employer account and banner with legal agreement NOT signed</a></li>
            <li><a href='v8/guidance'>Guidance (start) page</a></li>
            <li><a href='v8/email/need-to-add-bank-details'>Email to complete bank details when skipped</a></li>
            </ul>
            "
          }
        },
        {
          heading: {
            text: "Sprint 2"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>V7 - alternative 'save and complete later' journey</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <span class='govuk-tag govuk-tag--grey govuk-!-margin-bottom-4'>Alternative design</span>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Alternative version where the user has the opportunity to save and return later at the 'terms' and 'bank details' interactions. The application would not be submitted or completed until all data is collected.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v7/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v7/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v7/account-home-not-applied'>Start point: financial area in employer account and banner - application not made yet</a></li>
            <li><a href='v7/account-subsequent-application'>Account dashboard to make subsequent application</a></li>
            <li><a href='v7/guidance'>Guidance (start) page</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V6 - added subsequent application</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <p>Added functionality to prototype to show subsequent application journey, where bank details would not be required.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v6/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v6/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v6/account-home-not-applied'>Start point: financial area in employer account and banner - application not made yet</a></li>
            <li><a href='v6/account-with-bank-skipped'>Account dashboard after application made with no bank details provided</a></li>
            <li><a href='v6/account-subsequent-application'>Account dashboard to make subsequent application</a></li>
            <li><a href='v6/guidance'>Guidance (start) page</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V5 - iterated content and added initial campaign material</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Added campaign material. Iterated guidance to make clearer what the applicant needs. Iterated 'select apprentices' page to call out that the user is applying for these apprentices. Content tweaks on confirmation page for 'what happens next'.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v5/campaign/email'>Start point: campaign email</a></li>
            <li><a href='v5/campaign/landing'>Campaign landing page</a></li>
            <li><a href='v5/account-home-not-applied'>Start point: financial area in employer account and banner - application not made yet</a></li>
            <li><a href='v5/account-with-bank-skipped'>Account dashboard after application made with no bank details provided</a></li>
            <li><a href='v5/guidance'>Guidance (start) page</a></li>
            </ul>
            "
          }
        },
        {
          heading: {
            text: "Sprint 1"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>V4 - non-linear journey allowing bank details to be completed later</h2>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Iterated to separate journey of adding bank details to applying. This version is designed to allowing a 'complete this later' for the bank account details during the application for incentive.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v4/account-home-not-applied'>Start point: financial area in employer account and banner - application not made yet</a></li>
            <li><a href='v4/account-with-bank-skipped'>Account dashboard after application made with no bank details provided</a></li>
            <li><a href='v4/guidance'>Guidance (start) page</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V3 - non-linear journey requiring bank account before applying</h2>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Iterated to separate journey of adding bank details to applying. This version is designed to ensure this is done before applying for the incentive.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v3/account-no-bank'>Start point: financial area in employer account and banner</a></li>
            <li><a href='v3/guidance'>Guidance (start) page</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V2 - linear journey</h2>
            <span class='govuk-tag govuk-tag--yellow govuk-!-margin-bottom-4'>Researched</span>
            <p>Content iterations. Added a shutter page for employers with no apprentices in account that are 16-24/start date after September.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v2/account-home'>Start point 1: apprentices area in employer account</a></li>
            <li><a href='v2/account-home-2'>Start point 2: finance section in employer account</a></li>
            <li><a href='v2/account-home-3'>Start point 3: account homepage and apprentices area in employer account</a></li>
            <li><a href='v2/guidance'>Guidance (start) page</a></li>
            <li><a href='v2/shutter/cannot-apply-yet'>Shutter page when no apprentices in account</a></li>
            </ul>

            <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>

            <h2 class='govuk-heading-s'>V1 - linear journey</h2>
            <span class='govuk-tag govuk-tag--green govuk-!-margin-bottom-4'>Iterated</span>
            <p>Initial prototype design. Content may iterate to add more body text to pages.</p>
            <ul class='govuk-list govuk-list--bullet'>
            <li><a href='v1/account-home'>Start point 1: apprentices area in employer account</a></li>
            <li><a href='v1/account-home-2'>Start point 2: finance section in employer account</a></li>
            <li><a href='v1/account-home-3'>Start point 3: account homepage and apprentices area in employer account</a></li>
            <li><a href='v1/guidance'>Guidance (start) page</a></li>
            </ul>
            "
          }
        }
      ]
    }) }}
    </div>
</div>

{% endblock %}
