{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Employer incentives design history</h1>
    <h2 class="govuk-heading-m">What is employer incentives?</h2>
    <p>We are designing and implementing the functionality to provide financial incentives to Employers to employ new apprentices and pre-workplace employees from September 2020 onwards.</p>
    <p>This functionality is part of a set of Covid Recovery initiatives being run by ESFA.</p>

    <h2 class="govuk-heading-m">Prototypes</h2>
    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Sprint 1"
          },
          content: {
            html:
            "
            <h2 class='govuk-heading-s'>Applying for 16-24 incentive</h2>
            <p><a href='v1/account-home'>Starting within apprentices area in employer account</a></p>
            <p><a href='v1/account-home-2'>Starting under finance section in employer account</a></p>
            "
          }
        }
      ]
    }) }}
    </div>
</div>

{% endblock %}
