{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% set _backLink = "javascript:window.history.go(-2);" %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "../includes/account-header.html" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{_orgName}} needs to accept a new employer agreement</h1>

      <p class="govuk-body">We’ve extended the application period for the hire a new apprentice payment.</p>

      <p class="govuk-body">To apply for apprentices with an apprenticeship start date from 1 February 2021, {{_orgName}} must accept the 20 January 2021 variation to the 9 January 2020 employer agreement.</p>

      <p class="govuk-body govuk-!-margin-bottom-0">
        <a href="javascript:;" class="govuk-button">View agreement</a>
      </p>

      <p class="govuk-body"><a href="{{_backLink}}" class="govuk-link govuk-link--no-visited-state">Change which apprentices you want to apply for</a></p>

    </div>
  </div>
{% endblock %}

  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
          {
            href: "https://govuk-prototype-kit.herokuapp.com/",
            text: "GOV.UK Prototype Kit " + releaseVersion
          },
          {
            href: "/prototype-admin/clear-data",
            text: "Clear data"
          },
          {
            href: "../skip-legal",
            text: "Skip (for test purposes)"
          }
        ]
      }
    }) }}
  {% endblock %}
