{% extends "layout-email.html" %}

{% set serviceName %}
Email
{% endset %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <img src="/public/images/ESFA-logo.jpg" style="height: 20%; width: 20%; margin-bottom: 20px">
    <p class="govuk-body govuk-!-font-weight-bold">From: Apprenticeship Service &lt;apprenticeship-service.gov.uk&gt;</p>
    <p class="govuk-body govuk-!-font-weight-bold">Subject: Your organisation’s bank details</p>
    <p>You’ve applied for the hire a new apprentice payment.</p>
    <p>If you did not complete your organisation's bank details when you applied for the hire a new apprentice payment, you can sign in to your apprenticeship service account and add them now <a href="../bc/start">(www.url.com)</a>.</p>
    <p>You do not need to do anything if you added your organisation's bank details during your application.</p>
    <p>We cannot make the payment if we do not have any bank details.</p>
    <h3 class="govuk-heading-s">When you’ve added the bank details</h3>
    <p>You’re eligible for the first payment after the apprentice completes 90 days of their apprenticeship training and the second payment after 365 days.</p>
    <p>Before we can make a payment, we need your training provider to confirm whether the apprentice is still on their apprenticeship. Training providers usually submit information about their apprentices at the start of every month.</p>
    <p>We’ll start making payments from January 2021. It will take longer to get your first payment for any apprentices who start their training in August 2020.</p>
    <p class="govuk-body govuk-!-font-weight-bold">From</p>
    <p class="govuk-body govuk-!-font-weight-bold">ESFA (Education and Skills Funding Agency)</p>
    </div>
  </div>
{% endblock %}
