{% extends "layout-account.html" %}

{% set _inError = myData.validationError %}

{% set serviceName %}
Manage apprenticeships
{% endset %}

<!-- Org name -->
{% set _orgName = myData.selectLegalEntityAnswer or "ABC LTD" %}
{% set _orgNamePlural = _orgName + "’s" %}

{% block pageTitle %}
{% if _inError == "true" %}Error: {% endif %}Manage apprenticeships
{% endblock %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "./includes/account-header.html" %}
{% endblock %}

{% set _apprentices = myData.availableApprentices %}
{% set _totalApprentices = _apprentices.length %}

<!-- Paging -->
{% set _perPage = 50 %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "guidance"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" class="form">

            {% if _inError == "true" %}
            <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
                <h2 class="govuk-error-summary__title" id="error-summary-title">
                    There is a problem
                </h2>
                <div class="govuk-error-summary__body">
                    <ul class="govuk-list govuk-error-summary__list">
                        {% for name, item in myData.validationErrors %}
                        <li>
                            <a href="#{{item.anchor}}">{{item.message}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}

            <h1 class="govuk-heading-xl">
                Which apprentices do you want to apply for?
            </h1>
            <p class="govuk-body">{{_orgName}} can apply for apprentices with an employment start date from 1 October 2021 to 31 January 2022.
            </p>
            <p class="govuk-body">
              They will also need to have an apprenticeship start date from 1 October 2021 to 31 March 2022.
            </p>

            <p class="govuk-body">We are showing apprentices with an apprenticeship start within those dates.</p>
            <p class="govuk-body">We’re not showing any apprentices that you have already applied for.</p>
            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  Are you applying for apprentices who you previously recruited under the Kickstart scheme?
                </span>
              </summary>
              <div class="govuk-details__text">
            If you can prove that you recruited an apprentice under the Kickstart scheme, you can apply for these apprentices using their apprenticeship start date instead of the employment start date.
              </div>
            </details>



            {% if _totalApprentices > _perPage and myData.filters == "true" %}

            <!--<div class="month-filters-container grey-panel grey-panel-blocked govuk-!-margin-bottom-5">
                <h3 class="govuk-heading-m month-filtered" >Filter by apprenticeship start date</h3>
                <ul class="govuk-list month-filters">
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >April 2021</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >May 2021</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >June 2021</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >July 2021</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >August 2021</a></li>
                    <li><a class="govuk-link govuk-link--no-visited-state" href="#" >September 2021</a></li>
                </ul>
            </div>
            <div class="month-filtered-container grey-panel grey-panel-blocked govuk-!-margin-bottom-5" style="display: none;">
                <h3 class="govuk-heading-m month-filtered" >Filtered</h3>
                <p class="govuk-body" ><a class="govuk-link govuk-link--no-visited-state clear-month-filter" href="#" >Clear filter</a></p>
            </div>-->
            {% endif %}

            {% if myData.filters == "true" %}
          <!--  <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state select-all-link" href="#">Select or deselect all apprentices</a></p>-->
            {% endif %}

            <div class="govuk-form-group {% if myData.validationErrors.selectNewApprenticesAnswer %}govuk-form-group--error{% endif %}">
                <fieldset class="govuk-fieldset" >

                    {% if myData.validationErrors.selectNewApprenticesAnswer %}
                    <span id="selectNewApprentices-error" class="govuk-error-message">
                        <span class="govuk-visually-hidden">Error:</span>
                        {{myData.validationErrors.selectNewApprenticesAnswer.message}}
                    </span>
                    {% endif %}

                    {% if _totalApprentices > _perPage %}
                    <nav role="navigation" aria-label="Pagination" class="govuk-!-margin-bottom-4">
                        <p class="pagination__summary "></p>
                        <ul class="pagination govuk-list">
                            <li class="pagination__item previouspage"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="#" aria-label="Previous page">Previous</a></li>
                            <li class="pagination__item nextpage"><a style="padding-left:0" class="pagination__link govuk-link govuk-link--no-visited-state" href="#" aria-label="Next page">Next</a></li>
                        </ul>
                    </nav>
                    {% endif %}

                    <div class="govuk-checkboxes">

                        {% for _apprentice in _apprentices %}
                            <div class="govuk-checkboxes__item" data-month="{{_apprentice.startdate}}" data-available="true">
                                <input class="govuk-checkboxes__input" id="apprentice-{{_apprentice.id}}" name="apprentices" type="checkbox" value="{{_apprentice.id}}" aria-describedby="new-apprentices-item-hint" {% if _apprentice.selected %} checked {% endif %} />
                                <label class="govuk-label govuk-checkboxes__label" for="apprentice-{{_apprentice.id}}">
                                    <span class="govuk-!-font-weight-bold">{{_apprentice.name}}</span> <span style="color: #505a5f">(ULN: {{_apprentice.uln}})</span><br>

                                    {% if _totalApprentices > _perPage %}
                                    <span style="color: #505a5f">{{_apprentice.startdate}} (apprenticeship start date)</span>
                                    {% else %}
                                    <span style="color: #505a5f">{{_apprentice.startdate}} (apprenticeship start date)</span>
                                    {% endif %}
                                    <br>
                                    <span style="color: #505a5f">{{_apprentice.course}} (level&nbsp;{{_apprentice.courselevel}})</span>
                                </label>
                            </div>
                        {% endfor %}

                    </div>

                    {% if _totalApprentices > _perPage %}
                    <nav role="navigation" aria-label="Pagination" class="govuk-!-margin-bottom-4">
                        <p class="pagination__summary "></p>
                        <ul class="pagination govuk-list">
                            <li class="pagination__item previouspage"><a class="pagination__link govuk-link govuk-link--no-visited-state" href="#" aria-label="Previous page">Previous</a></li>
                            <li class="pagination__item nextpage"><a style="padding-left:0" class="pagination__link govuk-link govuk-link--no-visited-state" href="#" aria-label="Next page">Next</a></li>
                        </ul>
                    </nav>
                    {% endif %}

                </fieldset>
            </div>

            {{ govukButton({
                text: "Continue"
            }) }}

        </form>
    </div>
</div>
{% endblock %}

{% block pageScripts %}
<script>
    $(document).ready(function(){

        var _totalCheckboxes = 0,
            _page = 1,
            _first = (_page - 1) * {{_perPage}} + 1,
            _last = _page * {{_perPage}},
            _pagingLabel = $(".pagination__summary"),

            _selectDeselectAll = $(".select-all-link"),
            _allSelectedLabel = $(".all-selected-label"),

            _checkboxes = $(".govuk-checkboxes__input"),
            _checkboxesContainers = $(".govuk-checkboxes__item"),
            _previouspage = $(".previouspage"),
            _nextpage = $(".nextpage"),

            _monthLinks = $(".month-filters").find("a"),
            _clearMonthFilter = $(".clear-month-filter"),
            _monthFilter = false,
            _monthText = "",
            _monthFiltersContainer = $(".month-filters-container"),
            _monthFilteredContainer = $(".month-filtered-container")

        //Set total
        function _setTotalAvailability(){
            _totalCheckboxes = 0
            _checkboxesContainers.each(function(index) {
                var _this = $(this)
                if(_monthFilter){
                    if(_this.data("month") == _monthText){
                        _this.data("available","true")
                        _totalCheckboxes++
                    } else {
                        _this.data("available","false")
                    }
                } else {
                    _this.data("available","true")
                    _totalCheckboxes++
                }
            });
        }
        _setTotalAvailability()

        function _setSelectAllLinkText(){
            if(_monthFilter){
                _selectDeselectAll.text("Select or deselect all " + _monthText + " apprentices")
            } else {
                _selectDeselectAll.text("Select or deselect all apprentices")
            }
        }

        //Month filters
        _monthLinks.on("click", function() {
            event.preventDefault();
            _monthFilter = true
            _monthText = $(this).text()
            _monthFiltersContainer.hide()
            _monthFilteredContainer.show()
            _monthFilteredContainer.find(".month-filtered").text(_monthText + " start dates")
            _page = 1
            _setSelectAllLinkText()
            _setTotalAvailability()
            _paging()
            checkboxVisibility()
        });
        _clearMonthFilter.on("click", function() {
            event.preventDefault();
            _monthFilter = false
            _monthFiltersContainer.show()
            _monthFilteredContainer.hide()
            _page = 1
            _setSelectAllLinkText()
            _setTotalAvailability()
            _paging()
            checkboxVisibility()
        });

        // Paging
        function _paging(){
            _first = (_page - 1) * {{_perPage}} + 1
            _last = _page * {{_perPage}}
            if(_monthFilter){
                _pagingLabel.text("Showing " + _first + " to " + _last + " of all " + _monthText + " apprentices")
            } else {
                _pagingLabel.text("Showing " + _first + " to " + _last + " of all apprentices")
            }

            if(_page > 1){
                _previouspage.show()
            } else {
                _previouspage.hide()
            }
            if(_page < (_totalCheckboxes / {{_perPage}})){
                _nextpage.show()
            } else {
                _nextpage.hide()
            }
        }
        _paging()
        _nextpage.on("click", function() {
            event.preventDefault();
            _page++
            _paging()
            checkboxVisibility()
        });
        _previouspage.on("click", function() {
            event.preventDefault();
            _page--
            _paging()
            checkboxVisibility()
        });

        // hide checkboxes based on page
        function checkboxVisibility(_month){
            var _count = 0
            _checkboxesContainers.each(function(index) {
                var _this = $(this)
                if(_this.data("available") == "true"){
                    _count++
                    if(_count >= _first && _count <= _last){
                        _this.show()
                    } else {
                        _this.hide()
                    }
                } else {
                    _this.hide()
                }
            });
        }
        checkboxVisibility()

        _checkboxes.on("change", function() {
            // if($(".govuk-checkboxes__input:checked").length == _totalCheckboxes){
            //     _allSelectedLabel.text("All apprentices selected")
            // } else {
            //     _allSelectedLabel.text("\xa0")
            // }
        });
        _checkboxes.trigger("change")

        //Select/deselect all
        _selectDeselectAll.on("click", function() {
            event.preventDefault();

            var _checkAll = false
            _checkboxesContainers.each(function(index) {
                var _this = $(this),
                    _thisCheckbox = _this.find(".govuk-checkboxes__input")
                if(_this.data("available") == "true" && !_thisCheckbox.is(":checked")){
                    _checkAll = true
                }
            });
            _checkboxesContainers.each(function(index) {
                var _this = $(this),
                    _thisCheckbox = _this.find(".govuk-checkboxes__input")
                if(_this.data("available") == "true"){
                    if(_checkAll){
                        _thisCheckbox.prop('checked', true)
                    } else {
                        _thisCheckbox.prop('checked', false)
                    }
                }
            });
            _checkboxes.trigger("change")
        });

    });
</script>
{% endblock %}
