{% extends "layout-account.html" %}

{% set serviceName %}
  Manage apprenticeships
{% endset %}

{% block header %}
  {% include "includes/cookie-banner.html" %}
  {% include "includes/header-bar.html" %}
  {% include "v12/includes/account-header.html" %}
   <link rel="stylesheet" type="text/css" href="https://das-pp-frnt-end.azureedge.net/css/main.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="/public/javascripts/checked.js"></script>
{% endblock %}

{% block beforeContent %}
    {{ govukBackLink({
      text: "Back",
      href: "javascript:window.history.back();"
    }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="" method="post" class="form">
    <!-- JSON
            {% for items in apprenticeData.list %}
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="new-apprentices-{{items.id}}" name="apprentice{{items.id}}" type="checkbox" value="apprentice{{items.id}}" aria-describedby="new-apprentices-{{items.id}}-item-hint" />
                    <label class="govuk-label govuk-checkboxes__label" for="new-apprentices-{{items.id}}">
                        {{ items.name }}
                    </label>
                    <span id="new-apprentices-item-hint" class="govuk-hint govuk-checkboxes__hint">
                        {{ items.course }}
                    </span>
                </div>
            {% endfor %}
    !-->

    <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="new-apprentices-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    Select the apprentices you want to apply for
                </h1>
            </legend>

            <p>Choose from the apprentices in your apprenticeship service account with a planned start date from 1 August 2020.</p>
            <p>You cannot view any apprentices that you've already applied for.</p>
            <div class="govuk-inset-text"><p>You must only select apprentices who started their contract of employment with your organisation from 1 August 2020 to 31 January 2021.</p></div>

            {% if data['page2'] === true %}
            <p class="govuk-body govuk-!-font-weight-bold"><span id="count-checked-checkboxes-2">17</span> apprentices selected</p>
            {% else %}
            <p class="govuk-body govuk-!-font-weight-bold"><span id="count-checked-checkboxes">0</span> apprentices selected</p>
            {% endif %}

            <span id="new-apprentices-hint" class="govuk-hint">
                Select all that apply.
            </span>


            <div class="govuk-checkboxes">
                        {% for items in apprenticeData.list %}
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" id="new-apprentices-{{items.id}}" name="apprentice{{items.id}}" type="checkbox" value="apprentice{{items.id}}" aria-describedby="new-apprentices-{{items.id}}-item-hint" />
                                <label class="govuk-label govuk-checkboxes__label" for="new-apprentices-{{items.id}}">
                                    {{ items.name }}
                                </label>
                                <span id="new-apprentices-item-hint" class="govuk-hint govuk-checkboxes__hint">
                                    Course: {{ items.course }}
                                </span>

                            </div>
                        {% endfor %}
            </div>
        </fieldset>
    </div>

    <div style="display: flow-root;">
    <nav role="navigation" aria-label="Pagination" style="float: right">
            <ul class="das-pagination">
            {% if data['page2'] === true %}
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Next page" href="lots-of-apprentices-1">
                            Previous
                        </a>
                    </li>
            {% endif %}
                    <li class="das-pagination__item">
                        <a class="das-pagination__link current" aria-current="aria-current" aria-label="Page 1" href="#">
                            {% if data['page2'] === true %}2{%else%}1{%endif%}
                        </a>
                    </li>
            {% if data['page2'] !== true %}
                    <li class="das-pagination__item">
                        <a class="das-pagination__link " aria-label="Next page" href="lots-of-apprentices-2">
                            Next
                        </a>
                    </li>
            {% endif %}
            </ul>
        </nav>
        </div>

      {{ govukButton({
        text: "Continue",
        href: "check-answers-lots"
      }) }}

      </form>

    </div>
  </div>

{% endblock %}
